[2019-05-13 19:54] trickeydan opened #1 "Ask Son if he has any spare Pis"
@Tyler-Ward thinks that Son has some pis that we might be able to have.

We should chase this before we order more.

[2019-05-13 20:00] trickeydan opened #2 "Order List 3"
- [x] Send to ECS for ordering
- [ ] Receive Items
- [ ] Check off items
- [ ] Store items

[2019-05-13 20:06] trickeydan opened #3 "Check LiPo batteries"

[2019-05-13 20:09] jcwilliamson opened #4 "Ordering RUBs for cupboard"
This is blocked on sorting the cupboard

[2019-05-13 20:09] jcwilliamson opened #5 "Arrange and Plan Kit Manufacture"

[2019-05-13 20:09] jcwilliamson opened #6 "Assemble Motor Modules"

[2019-05-13 20:10] jcwilliamson opened #7 "Test Motor Modules"
Blocked by #6

[2019-05-13 20:10] jcwilliamson opened #8 "Obtain Kit from SR"

[2019-05-13 20:11] jcwilliamson opened #9 "Get Vision Working (libkoki)"

[2019-05-13 20:11] jcwilliamson opened #10 "Assemble Pi Power Solution"

[2019-05-13 20:11] jcwilliamson opened #11 "Find Supplier for Ruggeduinos"

[2019-05-13 20:12] jcwilliamson opened #12 "Count USB Cables"

[2019-05-13 20:12] jcwilliamson opened #13 "Assemble team tool packs"

[2019-05-13 20:12] jcwilliamson opened #14 "Find supplier of casters"

[2019-05-13 20:13] jcwilliamson opened #15 "Test servos"

[2019-05-13 20:13] jcwilliamson opened #16 "plan mech parts order"

[2019-05-13 20:14] jcwilliamson opened #17 "Plan large mechanical parts order"

[2019-05-13 20:14] jcwilliamson opened #18 "Check quantity of wire"

[2019-05-13 20:15] jcwilliamson opened #19 "Acquire promotional material"
- [x] Bags
- [x] prospectuses
- [x] promotional material
- [x] USB sticks
- [ ] Mugs

[2019-05-13 20:15] jcwilliamson opened #20 "Plan stationary order"

[2019-05-13 20:15] jcwilliamson opened #21 "Plan Cube refreshments"

[2019-05-13 20:15] jcwilliamson opened #22 "Plan electronics workshops and plan order"

[2019-05-13 20:16] jcwilliamson opened #23 "Investigate purchasing more power tools"

[2019-05-13 20:16] jcwilliamson opened #24 "Check quantity of arena build materials"

[2019-05-13 20:17] jcwilliamson opened #25 "Plan game"
@prophile

[2019-05-13 20:17] jcwilliamson opened #26 "Prepare cube of judgement"

[2019-05-13 20:18] jcwilliamson opened #27 "Arrange for prizes"

[2019-05-13 20:20] jcwilliamson opened #28 "Check quantities of tape"
- coloured gaffe
- white gaffe
- black gaffe
- electrical
- masking

[2019-05-13 20:20] jcwilliamson opened #29 "Design and order case stickers"

[2019-05-13 20:20] jcwilliamson opened #30 "Make a schedule & plan for moving things"

[2019-05-13 20:20] jcwilliamson opened #31 "Plan battery chargers and count lipo bags"

[2019-05-13 20:26] jcwilliamson opened #32 "Create cost breakdown of kit manufacture and send to Joyce"
@kierdavis can you handle this?
This will also need to be checked against the Smallpeice budget to figure out what the deficit is.

[2019-05-13 20:26] jcwilliamson opened #33 "Check to see if we need to manufacture more motor brackets"

[2019-05-13 20:28] jcwilliamson opened #34 "Return sro/sourcebots assets"

[2019-05-13 20:28] jcwilliamson opened #35 "Check condition of carpet"

[2019-05-13 20:29] jcwilliamson opened #36 "Find long term carpet storage solution"

[2019-05-13 20:29] jcwilliamson opened #37 "Count SR RUBs in broom cupboard"

[2019-05-13 20:30] jcwilliamson opened #38 "Purchase arena props"
blocked on ~#25~

[2019-05-13 20:30] jcwilliamson opened #39 "Build new skycam"

[2019-05-13 20:30] jcwilliamson opened #40 "Design and order t-shirts"

[2019-05-13 20:31] jcwilliamson opened #41 "[SP2020]Investigate single LiPo Battery bags"

[2019-05-13 20:32] jcwilliamson opened #42 "Send out volunteer sign up form"
@RealOrangeOne "Sort out the damn email address" - Dan Trickey

[2019-05-14 10:39] trickeydan commented on #1
He does. Obtained.

[2019-05-14 10:39] #1 closed

[2019-05-14 11:52] jcwilliamson commented on #10
@trickeydan @Tyler-Ward Is this referring to the cables we made with the black putty stuff last year? or the power solution for the Pis on the arena? If it is the latter, would it be worth producing an issue to make power cables for the pi? If I recall correctly, the power cables we made last year had some issues.

[2019-05-14 11:55] jcwilliamson commented on #6
If possible, I'd like this to be done by someone with some experience. @Tyler-Ward @trickeydan @Dasepho (Dan, can you tag Joe if he's on here) this seems like something one of you might be able to do. If not, I'm happy to take this and #7 myself over the next couple of weeks.

[2019-05-14 11:57] trickeydan commented on #10
There is another potential option: Building an adapter board that goes on top of the pi and lets you power them with a camcon. Would require appropriate protection circuitry ofc.

[2019-05-14 12:01] jcwilliamson commented on #10
Making a board for it isn't a bad idea, particularly if we can find an IC that takes care of -ve voltage and overcurrent for us. In an ideal world, we could ship that with just the IC and some camcons on it, but we'd need to do some research into that.

[2019-05-14 13:40] trickeydan commented on #10
Building a board is a good long-term solution as far as I can tell initially. I really hate those cables.

[2019-05-15 19:04] kierdavis commented on #41
Presumably this is referring to something like this:

![lithium polymer battery and protective bag for said battery](https://www.flyingtech.co.uk/sites/default/files/Product_images/Racing-Drone-LiPo-Bag.jpg)

In which case, I'm in favour - these would be more space efficient than our current bags. Although our current bags can fit 5 or 6 batteries I'm not a huge fan of the idea of storing more tha

[2019-05-15 19:05] kierdavis commented on #34
Return them to where? From where?

[2019-05-15 19:06] kierdavis commented on #32
Yeah I'll get this sorted ASAP.

[2019-05-15 19:08] kierdavis commented on #17
Is this referring to stuff like aluminium L-section, chicken wire and plumbing pipe that will be used as robot-building materials? Or something else?

[2019-05-15 19:08] kierdavis commented on #16
What makes this different to #17?

[2019-05-15 19:12] jcwilliamson commented on #34
Return to the cupboard. From Anton's house mostly.

[2019-05-15 21:12] jcwilliamson opened #43 "Replace pin headers"
Boards were stepped on by me, pin headers are bent, but otherwise boards appear ok. Needs replacement.

[2019-05-15 21:13] jcwilliamson opened #44 "Sort RUBs"
Sort RUBs in cupboard labelled 'to sort a' and 'to sort b'

[2019-05-15 21:14] jcwilliamson opened #45 "Purchase Isopropyl Alcohol"

[2019-05-16 18:34] trickeydan opened #46 "Review Electronics Labs"

[2019-05-16 18:34] trickeydan opened #47 "Make BOM for labs"

[2019-05-17 17:07] jcwilliamson commented on #47
How much stuff are we allowed/willing to take from existing lab stock in 59/16

[2019-05-17 17:51] jcwilliamson opened #48 "Test Power Consumption of Kit"
Last year there was an issue with kit tripping over current protection. This year we should connect as much kit as possible together before the competition to find if this is going to be an issue again. @trickeydan would you be able to provide a list of exactly what should be connected.

[2019-05-17 17:55] jcwilliamson commented on #41
I think this is what we want. I agree with Kier on this one, having all those batteries in the same bag is perfectly fine while they're okay, but increases the odds that it'll go really wrong when something finally does happen. Plus these would probably stack nicely in a RUB.

[2019-05-17 17:57] jcwilliamson commented on #16
As far as I'm aware, the main difference here is how easily we can store the two. Ordering the bigger stuff closer to the competition makes dealing with storage less of a problem.

[2019-05-17 18:04] jcwilliamson commented on #37
@mildlyincompetent @trickeydan am I correct in thinking that we did this Wednesday? Should this be closed now?

[2019-05-17 18:07] jcwilliamson commented on #12
I'll try to take care of this at the next meeting.

[2019-05-17 18:42] trickeydan commented on #37
@jcwilliamson unfortunately not

This ticket refers to Rubs with SRO kit in also

[2019-05-17 18:44] trickeydan commented on #47
cc Tyler

[2019-05-17 18:45] trickeydan commented on #23
More batteries would be excellent

[2019-05-17 19:01] jcwilliamson commented on #37
It might make sense to link this with some of the other cupboard based tasks, because you can parallelise most  of them quite nicely. It would be great if we could get a decent chunk of them done in one go.

[2019-05-18 14:37] Adimote commented on #30
I'm not sure I understand what this ticket means

[2019-05-18 14:38] Adimote commented on #36
Does the carpet not fit in the carpet holder on the top of the new cupboard?

[2019-05-18 17:36] trickeydan commented on #36
The issue is unfortunately more complicated than that. The carpet does fit on top of it, but apparently somebody else wants that space now.

I have set Reena on the case.

[2019-05-18 17:36] trickeydan commented on #30
@jcwilliamson Do you remember what this ticket was?

[2019-05-18 17:43] jcwilliamson commented on #30
I think primarily it was about how we're going to get everything where it needs to be, when it needs to be there. Also an element of storage during competition possibly.

[2019-05-18 17:45] jcwilliamson commented on #36
Reena did ask me about the potential of using tiles. I told her that we don't think it's viable, and she seemed to agree, so it'll probably get sorted.

[2019-05-18 17:55] trickeydan commented on #36
No, not happening.

[2019-05-18 18:31] jcwilliamson commented on #36
I told Reena the same. Apparently someone in ECS was insisting on it.

[2019-05-18 19:00] trickeydan commented on #36
Well they can pay for people to place to tiles to an appropriate standard because we don't have the resources. It also means that we can't use the cinema on the Monday which will not help with the course ratings

[2019-05-18 19:04] jcwilliamson commented on #36
I'm seeing Reena on Monday, if you want, I can discuss this one with her in person.

[2019-05-19 00:55] PeterJCLaw commented on #9
@jcwilliamson are there any more details on this?
Specifically:
- does this need to be `libkoki`? (if so, why?)
- what software platform is this for?
  - Python 2 or 3?
  - Raspbian or something else?
  - (Is it for Smallpeice?)
  - note for clarity: I'm exclusively asking about things _below_ the vision processing layer here, I don't think it matters what API/etc. sits on top of it
- what hardwar

[2019-05-19 09:48] trickeydan commented on #9
There are a large number of people that don't trust the stability of `sb-vision` and `libkoki` has been proven to work many time over.

3. I've determined that it shouldn't be too hard to port `pykoki`, as it is just a `ctypes` API. No need to upgrade OpenCV.

All Linuxes with V4L2

Yes. It would be good if we could actually ship vision this year, as imo it is one of the most impressive things fro

[2019-05-19 09:51] trickeydan commented on #48
- 1 Power Board
- 1 Motor Board
- 1 RasPi 3
- (with and without) 1 Servo Board
- Arduino with lots of ultrasound sensors

See [SB Docs](https://docs.sourcebots.co.uk) for more info about the kit.

[2019-05-19 09:53] trickeydan opened #49 "Update docs with kit changes"
- [x] API Changes
    - [x] Hardware changes
    - [x] [sbot](https://github.com/sourcebots/sbot) / [j5](https://j5.org.uk/j5) if applicable.
- [x] Servo Board
- [x] Arduino
- [ ] Vision
- [x] Remove references to servo assembly,

[2019-05-19 11:06] trickeydan commented on #47
Blocked on #46

[2019-05-19 11:09] trickeydan commented on #42
I'm going to send this out tomorrow _regardless_ of whether the issue with the form is resolved, we need to start recruiting.

[2019-05-19 11:11] trickeydan opened #50 "Fix CI on sourcebots/labs"
Still on CircleCI 1.0, no longer supported.

[2019-05-19 11:23] trickeydan opened #51 "Create Compstate"
We've got 16 teams this year, up from our usual 10. This makes it harder to copy/paste from previous years.

Subtasks:
- [x] Plan overall match timings
- [x] Plan league matches #68
- [x] Plan knockout matches #69
- [x] Create scoring logic https://github.com/sourcebots/compstate-smallpeice2019/pull/1
- [ ] Create score-entry and data-format #153

[2019-05-19 11:27] PeterJCLaw commented on #9
There are very few people who have actually looked at in depth the internals of either, let alone both. If there are technical reasons for choosing one over the other, please let's discuss them. We shouldn't be basing this on FUD.

Note that `libkoki` has a very narrow track record - a couple of camera and hardware combinations. April Tags, which `sb-vision` is based on, has a _much_ wider track r

[2019-05-19 11:39] trickeydan commented on #9
Fair point. However, `sb-vision` has been deployed once to my knowledge and had major thresholding issues.

`cv` and `cv2` are only required if you want to pass a `IPLImage` directly into the library instead of using the `libkoki` drivers.

`v4l2` is only used for `v4l2.v4l2_format`, as `libkoki` has it's own `v4l2` driver.

`v4l2_format` is a struct defined [here](https://github.com/AlexJinlei/py

[2019-05-19 11:59] RealOrangeOne commented on #9
The technet cameras actually worked very well for what we needed them to. The only issue was that the mounting wasnt ideal (although it did have a screw mount which was a plus), and that it had manual focus, which required teams to calibrate and then fix the focus themselves. If there's budget, different cameras should be purchased. Alternatively, we can almost certainly use SRs pool of cameras, w

[2019-05-19 12:03] RealOrangeOne commented on #42
I'm not happy with this attitude towards me. I've had many conversations with Dan which have culminated with "Yes, I can create the accounts you need, just tell me what you want", and apparently fallen on deaf ears, then to be repeated a couple of weeks later when Dan chases me up, for _something_.

Once someone tells me what's needed, I can create the accounts.

If this ticket is simply about sor

[2019-05-19 13:26] RealOrangeOne commented on #42
A valid email address has been added to the form.

[2019-05-19 13:29] #42 closed

[2019-05-20 18:11] joe9599 opened #52 "[SP2020]Buy a blade for the saw and then put it into the tools box"

[2019-05-20 18:38] trickeydan commented on #35
Badly damaged and folded

[2019-05-20 18:41] jcwilliamson opened #53 "Purchase velcro cable ties for battery chargers"
The chargers and their cables were in a mess. We should buy some velcro cable ties to tidy this up.

[2019-05-20 20:05] Tyler-Ward commented on #16
Proposed fixing lists for teams

Cross-head wood screws
large and small (we already have these)

Hex head M3 bolts countersunk
* M3*8mm https://onecall.farnell.com/tr-fastenings/m3-8-kh10mc-s100/screw-socket-csk-m3x8/dp/1420610
* M3*12mm https://onecall.farnell.com/tr-fastenings/m3-12-kh10mc-z100/screw-socket-csk-bzp-m3x12/dp/1420651
* M3*20mm https://onecall.farnell.com/tr-fastenings/m3-20-kh10mc

[2019-05-20 20:28] jcwilliamson opened #54 "Order Motor Mounting Brackets"
We are short on these. We need to order 25 of these from ECS Mech. Workshop.

[2019-05-20 20:30] Tyler-Ward commented on #10
The board should probably contain
* A mini camcon.
* An over voltage ad reverse polarity protection circuit
* The pi power input circuit to prevent back powering
* (optional) a couple of extra status LEDS e.g. power from our side.

The cases have a convenient slot on the outside of the case we can poke the board bit with cam-con through.

[2019-05-20 20:33] Tyler-Ward opened #55 "Create ultrasound sensor modules"
It is worth investigating adding breakout boards for the ultrasounds with screw terminals to aid in robot assembly. If cheap enough we can get teams to assemble them as part of the electronics lab.

@jcwilliamson are you interested in looking at this?

[2019-05-20 20:34] Tyler-Ward commented on #33
we do see #54

[2019-05-20 20:34] #33 closed

[2019-05-20 20:42] kierdavis commented on #10
I like this idea.

Maybe a good idea to stick a PPTC fuse in as well.

Not sure what "power input circuit" means here - am I right in thinking this refers to using a diode etc. to prevent the Pi from making power available on this board if it is also powered over USB?

A "nice-to-have" could be to include a few LEDs wired to GPIO pins for use by the robot API and/or the competitors' code e.g. to i

[2019-05-20 21:33] PeterJCLaw commented on #53
Velcro cable ties are awesome!

[2019-05-20 21:52] Tyler-Ward opened #56 "Chase up remaining funds for summer school"
we should chase up the remaining budget

[2019-05-20 22:26] trickeydan commented on #53
200 are on the ordering list to be sent tomorrow

[2019-05-20 22:28] trickeydan commented on #54
At least a 5 week lead time on these. Should be ordered ASAP

[2019-05-21 07:59] Dasepho commented on #55
Do the ultrasound modules not already have 0.1" headers on? Or are these just not as good as screw terminals?

[2019-05-21 08:00] Dasepho commented on #54
If this needs an email sent from sro@soton.ac.uk, let me know and I can do so

[2019-05-21 08:02] Dasepho commented on #43
Do we have replacements to hand; is this a soldering job or a purchasing job?

[2019-05-21 08:03] Dasepho commented on #40
I'm happy to do this after this week if I'm given some guidance on what sort of thing we want.
Do we have a company lined up to order from?

[2019-05-21 08:07] Dasepho commented on #29
I'm happy to do, do we have existing files to work from of are we doing new ones?

[2019-05-21 08:08] Dasepho commented on #25
Meeting dedicated to this 2019-05-27 in usual SRO slot

[2019-05-21 08:13] Dasepho commented on #6
@joe9599 see above ^

[2019-05-21 08:14] jcwilliamson commented on #43
They're just 2.54mm pitch headers, pretty sure we own a load of them.

[2019-05-21 08:18] Dasepho commented on #43
Ok, great. Someone with B16 access can do this pretty easily then. After this week of exams, @joe9599 and I might be able to do it. How many boards are there to do?

[2019-05-21 08:20] jcwilliamson commented on #43
I think 2. I'm also happy to do them. I just forgot to get them from the
cupboard last night.

On Tue, 21 May 2019, 09:18 Dasepho, <notifications@github.com> wrote:

[2019-05-21 11:51] joe9599 commented on #55
@Dasepho you dont necessarily want to connect the ultrasound directly where the board is, so having screw terminals means it is easy to connect anywhere, the breakout could also have mounting holes which would make it easier for teams to mount, I assume this just needs to be a 0.1" header to screw terminals, so wont need anything complicated, if we are ordering them I cant see it costing more than

[2019-05-21 12:34] jcwilliamson commented on #55
I was thinking the same as @joe9599 0.1 female header on one end, some screw terminals on the other. I don't see a reason we'd need anything more complicated.

[2019-05-21 14:32] trickeydan commented on #37
Done

[2019-05-21 14:32] #37 closed

[2019-05-21 14:39] trickeydan commented on #11
I have contacted the manufacturer to see if they have any UK distributors.

[2019-05-21 15:32] trickeydan commented on #11
[code]

Looks like we might have to find an alternative

[2019-05-21 16:40] joe9599 commented on #43
I am good to do stuff from Friday afternoon if you need hands for this

[2019-05-21 16:41] joe9599 commented on #6
I am good to do stuff from Friday afternoon if you need hands for this (although I dont have experience with these specific motor modules)

[2019-05-21 16:45] trickeydan commented on #6
It's very simple soldering, even I can do it ;)

I'm available on Friday Afternoon

[2019-05-21 16:47] jcwilliamson commented on #6
@joe9599 perhaps you and I should group this up with #43 and get it done in
one go. I'm free Friday too

On Tue, 21 May 2019, 17:45 Dan Trickey, <notifications@github.com> wrote:

[2019-05-21 16:47] trickeydan opened #57 "Create Smallpeice Google Calendar"
It would be good to create a Google calendar of the Smallpeice calendar (see #110 for the calendar PDF)

[2019-05-21 16:48] trickeydan commented on #54
The easiest way to sort these is to drop into the mech workshop in person.

[2019-05-21 16:50] jcwilliamson commented on #54
I'd probably take an example down too, so they know exactly what we're
looking for.

On Tue, 21 May 2019, 17:48 Dan Trickey, <notifications@github.com> wrote:

[2019-05-21 16:58] trickeydan opened #58 "Decide what kit to ship"
This should be done by the end of June.

However, we equally shouldn't make this decision too early.

[2019-05-21 16:59] jcwilliamson commented on #12
@trickeydan I think this can be closed now.

[2019-05-21 16:59] trickeydan commented on #40
I can help with design. It'll be similar to last year.

Yes, we have a standard supplier for t-shirts.

[2019-05-21 17:05] joe9599 commented on #6
How long do we expect this, #7 and #43 to take?

[2019-05-21 17:05] jcwilliamson commented on #31
I believe we had approximately 3 lipo bags where the velcro wasn't falling off. @Tyler-Ward is ordering more of these.

[2019-05-21 17:07] jcwilliamson commented on #6
I wouldn't expect more than a couple of hours to assemble and test 8 motors.

[2019-05-21 17:08] joe9599 commented on #6
In that case @Dasepho will you be around? it would be good to get all 3 tasks done in 1 go

[2019-05-21 17:29] Dasepho commented on #6
I should be around and will be happy to help

[2019-05-21 17:30] Dasepho commented on #6
Happy for me to assign myself, @jcwilliamson and @joe9599 ?

[2019-05-21 17:51] #12 closed

[2019-05-22 09:48] trickeydan commented on #32
@kierdavis Any estimated times on this task?

I would do it, but I have no idea how

[2019-05-22 12:28] kierdavis commented on #32
I'm very sorry - given the kit agreement with SR, I thought this wasn't that urgent. My plan is to start sorting this out on Monday but if its urgent I can try and make some progress on it tonight/tomorrow morning.

The first step is to [pick up where we left off in March](https://github.com/sourcebots/kit-manufacture-2019/issues) and get a quote finalised so we know how much it will cost to outso

[2019-05-22 15:48] trickeydan commented on #32
It's urgent as in we need to do it before Joyce's budget expires in a couple of weeks.

There is no email thread yet, as I spoke to her in person. I'll set up one when I get chance.

[2019-05-23 08:56] pringon commented on #50
https://github.com/sourcebots/labs/blob/master/.circleci/config.yml
From the looks of it you've already done it last year.
Pardon me if I am missing something here.

[2019-05-24 17:38] Dasepho commented on #6
Done

[2019-05-24 17:38] #6 closed

[2019-05-24 17:39] Dasepho commented on #7
Done: All work, except the one that is red-taped

[2019-05-24 17:39] #7 closed

[2019-05-24 17:41] Dasepho commented on #43
Removed the bent pin headers. Didn't put new ones on.

[2019-05-24 17:44] Dasepho commented on #25
Problem: next week is a bank holiday. We need to work out how / where we can hold this meeting

[2019-05-24 20:55] trickeydan commented on #25
Worst case, we can go to Futureworlds. There are conferencing facilities there that we can use

[2019-05-25 13:47] PeterJCLaw commented on #9
Nah, I'm probably wrong. For some reason I'd thought that we'd shipped the same vision from SB2018 at last year's Smallpeice. In retrospect I do recall us actually making the decision to remove it and hiding it from the docs.

[2019-05-25 13:58] PeterJCLaw commented on #9
The drop in scores is interesting and somewhat unfortunate to hear (and news to me). I'll reiterate my point though -- the summer school is about learning, rather than being impressed with what someone else has done. Yes, it's _cool_ to have vision, however I think it's quite a stretch to say that that should be a primary focus based on negative feedback (especially as the 2017 summer school also

[2019-05-25 14:17] trickeydan commented on #9
You may be interested in viewing it. You should have access to the file in the SourceBots Google Drive.

It was heavily discussed last september after we received it.

[2019-05-25 14:53] PeterJCLaw opened #59 "Work out how to improve course content as a whole"
The feedback from the 2018 summer school was a little lower than the 2017 feedback. While it's still good overall, we should look into what we can do to improve it.

Extracting some comparative figures from the "Feedback Analysis C&M 2017" and "Feedback Analysis CE&R 2018" files in the drive, there's some possibly interesting data there.

We do need to bear in mind that the overall numbers are sma

[2019-05-25 14:53] PeterJCLaw commented on #9
Aha, thanks. Is there a record of that discussion somewhere? I don't recall seeing anything on the mailing list. (Slack obviously doesn't count as a record, as much as it would want you to believe it is one it's nigh impossible to read old things in it). Either way I'm going to move this to https://github.com/sourcebots/tasks/issues/59.

[2019-05-25 15:17] PeterJCLaw commented on #59
Ok, so now to try to actually understand those numbers.

I think it's important to note upfront that the above only compares SourceBots' contributions to themselves. If we instead compare our contributions to other parts of the course, the data (which I'm deliberately not publishing here) suggests that our contributions are amongst the lower rated parts of the course. While that's not universally

[2019-05-25 15:25] trickeydan commented on #59
Actions that I can recall immediately:

- Alterations to kit hardware (SR Servo Board) to increase reliablity. There were many issues with this last year and the written feedback reflected this.
- @jcwilliamson has rewritten the electronics labs.
- We will hopefully be showing a blockbuster release film on Monday evening.

`Workshop: Python` needs major work. It was very ad-hoc last year. I sugges

[2019-05-25 15:26] trickeydan commented on #9
It will be in the `minutes` archive I suspect.

[2019-05-25 15:37] Adimote opened #60 "Find a speaker for the prizegiving"
Typically we have someone special from the university/smallpeice/sponsors to give speeches at the end and to give the prizes.

If we were to get someone from ARM, that would be perfect.

[2019-05-25 15:38] PeterJCLaw commented on #9
Do you have a link for that? I've tried [searching GitHub](https://github.com/sourcebots?q=minutes) without luck.

[2019-05-25 15:53] Adimote opened #61 "Investigate livestreaming the event"
Depending on the number of volunteers we have, we might have some spare hands to do a live-stream for the summer school.

[2019-05-25 16:59] trickeydan commented on #60
Son is currently waiting on a reply from Paul Lewin

[2019-05-25 17:01] trickeydan commented on #9
https://github.com/s-r-o/minutes/blob/bfc77dc7ae8612dece848e118241c034683b08f0/2018/2018-11-26.md

[2019-05-29 12:33] trickeydan commented on #55
I've heard that @joe9599 has been working on this

[2019-05-29 12:33] trickeydan commented on #53
Arrived

[2019-05-29 12:33] #53 closed

[2019-05-29 12:34] trickeydan commented on #35
Usable for this year seems to be the general consensus, but it will have to be disposed after that.

[2019-05-29 12:34] trickeydan commented on #26
To clarify: It's somewhat damaged.

[2019-05-29 12:35] trickeydan commented on #8
We don't have enough kit. SR agreed a kit loan.

[2019-05-29 14:10] joe9599 commented on #55
The boards are designed, and ready for prodcution

[2019-05-29 14:31] trickeydan commented on #55
Please could somebody work on getting these into the `s-r-o` github?

[2019-05-29 14:36] joe9599 commented on #55
I'll just double check them once more, then attempt to stick them on github

[2019-05-29 15:11] joe9599 commented on #55
@trickeydan Here is the files on Github, hopefully I did it right
https://github.com/s-r-o/Ultrasound-sensor-adapter

[2019-05-29 21:29] PeterJCLaw commented on #8
We'll need to put together a list of what it is we'd like to borrow from SR; is that part of this ticket, or done somewhere else?

[2019-05-30 12:29] trickeydan commented on #8
That should probably be a separate ticket imo. I'll create one for it.

[2019-05-30 12:30] trickeydan opened #62 "Inventorise working kit"
Count the amount of working motor and power boards that we have.

This is primarily for #8

[2019-05-30 12:30] kierdavis commented on #8
I presume that the amounts of power/motor/servo boards we intend to borrow is the same as the amounts we intend to manufacture ourselves; that is,

* 17 power boards
* 16 motor boards
* 25 servo boards

EDIT: Oops, just saw you've created a separate issue for this.

[2019-05-30 12:33] kierdavis commented on #62
Based on an inventory we did a few months ago when deciding how much kit to manufacture, I think we have 8 working power boards and 9 working motor boards. I'm not certain if these numbers are still up to date.

[2019-05-30 12:35] kierdavis commented on #8
Other things we may or may not need to borrow (I don't know):

* USB hubs
* USB cables
* Camcons
* Webcams
* Batteries
* Battery bags
* Battery chargers & power supplies

[2019-05-30 12:40] kierdavis commented on #55
PCB looks good to me :+1:

[2019-05-30 13:24] trickeydan commented on #8
We're good on these. Have ordered more / have enough already.

This is an interesting question, as for #9 we will probably want to use known good webcams.

They may be in budget, but I am unsure.

[2019-05-30 22:16] Adimote opened #63 "Order Scaff"
Blocked on https://github.com/sourcebots/tasks/issues/25

We typically order scaff from 'SGB a Brand Safway company'. There's an account set up with the university and we're grandfathered such that their 4 week minimum order time doesn't apply to us (which was probably set up especially because of us lol)

We typically order to arrive on the Monday of the week, and pick up on the Monday after. Ins

[2019-05-30 22:17] Adimote commented on #63
This is blocked by confirming what scaff layout we're going for (pending a game decision)

[2019-05-31 14:28] #35 closed

[2019-05-31 14:31] trickeydan commented on #2
Let's use the spreadsheets for this

[2019-05-31 14:31] #2 closed

[2019-05-31 14:31] trickeydan commented on #57
Son is going to do this

[2019-05-31 14:32] trickeydan commented on #56
Son is going to do this

[2019-05-31 14:33] trickeydan opened #64 "Risk Assessments"
We need to check and update these.

Especially with the larger number of students.

[2019-05-31 14:45] trickeydan commented on #19
This one will probably require an email to Reena / Joyce.

[2019-05-31 15:49] kierdavis commented on #64
I can take a look at this. I've been meaning to tidy up the template anyway.

[2019-05-31 15:55] kierdavis commented on #64
Is there a particular time that these need to be finalised by?

[2019-05-31 16:34] trickeydan commented on #64
Before the summer school ideally ;)

[2019-05-31 17:00] joe9599 commented on #43
The headers have been replaced

[2019-05-31 17:00] #43 closed

[2019-05-31 19:10] trickeydan commented on #58
This can be done on the 8th.

[2019-05-31 23:40] jcwilliamson commented on #10
This has now been done, pending review. One issue is that the board is designed using symbols/footprints that are not open source, so there may be an issue with putting it on github. @kierdavis @Tyler-Ward do you have any advice for this?

[2019-06-01 13:09] kierdavis commented on #10
It would be ideal if open source symbols/footprints could be used instead. If there are no suitable open source alternatives I guess we can just put the open source parts of the project on github and instruct users how to obtain the non-open-source parts in the README.

[2019-06-01 13:34] PeterJCLaw commented on #9
Some thoughts on the technical side of this:

A first priority needs to be to work out what hardware we're going to use. We've had considerable challenges getting cameras which work ok on Raspberry Pis. The TeckNet ones worked ok, but are just a bit crappy as cameras (not great resolution, not especially fast response times, not great optics, fixed focus). It's worth noting that we used them becau

[2019-06-02 13:57] PeterJCLaw opened #65 "Plan competition lighting"
The arena should have lighting which builds an exciting atmosphere. Obviously if we do ship a vision system (#9) then we need to account for that in the plan too.

[2019-06-02 13:58] PeterJCLaw opened #66 "Plan competition audio setup"
The arena venue should have a sound configuration which builds an exciting atmosphere.
That being said, the pit areas should be quiet to allow people to get things done.

The finals likely want something a little different to the main matches.

[2019-06-02 13:59] PeterJCLaw opened #67 "Plan finals production"
Feeding into both #65 and #66, we usually want some higher production of the late knockouts and final match.

[2019-06-02 14:00] PeterJCLaw opened #68 "Plan league matches"
We need to know how the league matches will work - which teams will face which other teams along with timings.

This may be able to be similar to previous years, however with the increase in teams (to 16) it won't be exactly the same.

See also #51 (compstate).

[2019-06-02 14:01] PeterJCLaw opened #69 "Plan knockout matches"
We need to know how the knockout matches will work - which teams will face which other teams along with timings.

This may be able to be similar to previous years, however with the increase in teams (to 16) it won't be exactly the same.

See also #51 (compstate) and #67 (finals production).

[2019-06-02 14:16] PeterJCLaw opened #70 "Organise in-venue screens"
We typically have screens in the venue displaying information about the state of the competition for various purposes.

- match staging
- general information

This is a high level task to cover planning what we show where as well as organising the hardware and any software configuration. It is encourage that details either be added as checklist items or as subtasks (or possibly both).

[2019-06-02 14:18] PeterJCLaw opened #71 "Organise competition operations"
In order to sync up the screens (#70), lighting (#65) and audio (#66) we'll need a network and likely a deploy of [SRComp](https://github.com/PeterJCLaw/srcomp/wiki). These will be driven by a compstate (#51).

This is a high level task to cover planning as well as organising the hardware and any software configuration. It is encourage that details either be added as checklist items or as subtasks

[2019-06-02 20:25] jcwilliamson commented on #70
Would it be worth going to b16/59 labs for these? They gave them to us for SR, I don't see why they wouldn't be willing to again.

[2019-06-02 20:29] trickeydan commented on #70
Yeah definitely

[2019-06-02 20:33] jcwilliamson commented on #47
I think before much more progress can be made on this, we should finish #25 so we can put some stuff specifically aimed at the game.

[2019-06-02 20:35] jcwilliamson commented on #54
Have these been ordered yet? If not, it needs doing soon. @trickeydan should I do this tomorrow? If I could get into the cupboard to grab one as an example piece, that would be great.

[2019-06-02 22:57] trickeydan commented on #54
Yes let's do this tomorrow.

[2019-06-03 00:27] jcwilliamson commented on #14
Having had a look around over the weekend, amazon seems like a good bet for these.

[2019-06-03 08:01] trickeydan commented on #11
@Tyler-Ward

Should we purchase Arduino Uno Clones for these?

[2019-06-03 08:26] trickeydan opened #72 "Update Arduino Firmware"
We're not using the Servo Hats anymore.

[2019-06-03 14:53] trickeydan commented on #54
Waiting on a Quote

[2019-06-03 14:55] trickeydan commented on #3
Jack did this

[2019-06-03 14:55] #3 closed

[2019-06-04 10:22] Dasepho commented on #25
Decision made, based on [Apple tree](https://drive.google.com/file/d/1Iv3tupVu0DaCbwnhn0LF3hBSwTYSz3jr/view)
I'll update it to reflect the discussed points

[2019-06-04 18:21] Dasepho commented on #25
New version is [here](https://drive.google.com/open?id=1Iv3tupVu0DaCbwnhn0LF3hBSwTYSz3jr). Will be written up formally as rules for teams later. A few things like number of points for different cubes to be finalised later, but enough done to unblock issues I think

[2019-06-04 18:26] Dasepho opened #73 "Decide the best way to construct the tree"
Game requires a 'tree' in the centre of the arena to attach 'Golden Apples' to. Idea is to use [this](https://eclipsestagingservices.ae/service-catalogue/staging-services/rigging/truss-accessories/truss-x-base-black/c-23/c-139/p-575) truss stand and staging equipment then make it look pretty.

[2019-06-05 07:56] Dasepho opened #74 "Test that sensing capacitance is feasable and reliable"
See [Game proposal](https://drive.google.com/open?id=1Iv3tupVu0DaCbwnhn0LF3hBSwTYSz3jr) for details of sensor design.
We need to ensure this will work in production before we commit to using it

[2019-06-05 07:56] Dasepho commented on #46
- [ ] including writing new lab for capacitor sensor (blocked by #74)

[2019-06-05 08:03] Dasepho opened #75 "Build 'market stall' scoring zones"
Each team has a raised platform "market stall" on which to put apples they collect for more points. Likely to be very basic MDF/screws construction

[2019-06-05 16:56] kierdavis commented on #32
This spreadsheet lists the price breakdown for the quotes I've been able to get so far: https://docs.google.com/spreadsheets/d/1zE_gw8idO3K-fdvhHla8w_M4fcu3P_LFyxQ6oa0C2X4/edit

I'm also in contact with Garner Osborne but the quote is currently held up due to a component going out of stock. (see https://github.com/sourcebots/kit-manufacture-2019/issues/13).

Regardless, is this enough information

[2019-06-05 17:50] jcwilliamson commented on #32
Would there be any possibility of finding a compatible replacement for that component? That might allow us to speed up the process.

[2019-06-05 18:16] kierdavis commented on #32
I've had a look and found one replacement, but its only available from one supplier (that I've never heard of). Gonna see if Garner Osborne accept it or not.

[2019-06-08 12:29] Dasepho commented on #74
![tek00000](https://user-images.githubusercontent.com/47758255/59147217-a2eb5980-89f0-11e9-946e-cb0c18866545.png)
Tested and found to work fine.
Occasionally there is a little bit of bouncing:
![tek00001](https://user-images.githubusercontent.com/47758255/59147218-a383f000-89f0-11e9-9f80-c01fabfab115.png)
But this isn't a big issue and we can tune the RC values to minimise this.
If you deliberatel

[2019-06-08 16:32] Tyler-Ward commented on #54
We have 12 motors that will need new mounts next years expansion to 100 students will require an additional 10 this gives 3 spares (beyond the spare modules)

[2019-06-08 16:34] Tyler-Ward opened #76 "Repair motors"
we have three red taped motors which need solder fixing on the back of them

[2019-06-08 16:35] Tyler-Ward opened #77 "Glue motor connectors to the back of the motor mounts"
This will reduce the damage to the connectors.

[2019-06-08 16:36] Tyler-Ward opened #78 "Add bases to motors"
Per #54 we will have new mounts to attach to motors this should be done.

[2019-06-08 17:36] Tyler-Ward commented on #76
There are an additional set of motors to fix

1 off the test rig
2 of the tudor

[2019-06-08 17:39] Tyler-Ward opened #79 "upgrade tudor motors"
The 3 motors on one tudor need upgrading with mounts and connector boards

[2019-06-08 19:01] joe9599 commented on #55
The board has now been updated to add mounting holes and replace the capacitor with a 100uF electrolytic capacitor as I have been told that this fixed some issues during last years smallpeice, the updates are checked into github

[2019-06-09 15:41] trickeydan commented on #72
Pending review

[2019-06-09 15:41] trickeydan commented on #56
Waiting on quotes from @kierdavis

[2019-06-09 15:42] trickeydan commented on #58
We're going to ship `j5` + `yuri` + `runusb` / SB2018 OS stack.

Hardware will be the same as the SR kit.

[2019-06-09 15:42] #58 closed

[2019-06-09 15:43] trickeydan commented on #9
@RealOrangeOne made [Yuri](https://github.com/RealOrangeOne/yuri/), which looks like it'll take less time to get working than `libkoki`, as it essentially will work out of the box.

[2019-06-09 17:38] PeterJCLaw commented on #58
Could you clarify the OS stack part of this?

I'm a little confused because (as far as I know) `j5` doesn't (currently) have any support for "remote" boards exposed via sockets (which is how the SB2018 OS stack exposes them to user code). Is the plan that backends for these will be written between now and the summer school?

Additionally the SB2018 stack uses Raspbian (Stretch) which doesn't (as f

[2019-06-09 17:59] trickeydan commented on #58
By OS Stack, I mean runusb + usbmount + systemd-nspawn etc, using the `pi-image` build system. So using `robot-api` and `robotd` with `sbot` (The SB implementation of `j5`, name subject to change if people want to call it `robot` or `robot-api2`/`3`). I think that it would be very ambitious to upgrade any more than we currently plan to.

To clarify `sbot` is the API / kit definition, which calls `

[2019-06-09 19:00] joe9599 commented on #75
I am currently designing this, but will need someone in Soton to laser cut it

[2019-06-09 19:08] Dasepho commented on #75
I can laser cut it if we can get material from mech workshop

[2019-06-09 19:10] PeterJCLaw commented on #58
Thanks for outlining that. Some observations and thoughts:

`sbot` appears to be quite a long way from parity with `robot-api`. I've created some issues there to record the basics, however the biggest part (which I'm not even sure where it should live) is the support for the socket backends. This strikes me as the highest risk area and something to approach as soon as possible.

`sbot` appears to

[2019-06-09 19:23] trickeydan commented on #58
I think there's been a slight error in communication here. `sbot` does not use socket backends and isn't intended to. `j5` contains the code to control the boards in `HardwareBackend`s. You can plug a kit into a raspi with `sbot` installed (or any Windows / Linux system with `libusb`) and use it to control power, servo and motor boards immediately.

It will be sufficiently similar that it won't be

[2019-06-09 19:50] joe9599 commented on #45
How much IPA do we need, heres 500ml from RS, do we need it in an aerosol can or in a form which we can easily pour, e.g. for filling the blue bottles found around labs
https://uk.rs-online.com/web/p/precision-cleaners-degreasers/0567890/

[2019-06-09 19:55] trickeydan commented on #45
We need it for cleaning glue residue off things mostly, and it's useful to have some around anyway.

I think a pouring form is most useful, but am open to an aerosol too.

[2019-06-09 19:56] joe9599 commented on #27
is this trophies/certificates or something more "interesting" i think in my year it was drones, it could be an electronics kit or a pi, does anyone have any strong feelings about what prizes should be
Is this just for 1st or 1st, 2nd, 3rd (in which case we would also need to organise a 3rd/4th playoff

[2019-06-09 19:57] joe9599 commented on #45
sounds like a 500ml bottle should be fine then, although its not significantly more expensive to get 1L
https://uk.rs-online.com/web/p/precision-cleaners-degreasers/2274427/

[2019-06-09 20:00] trickeydan commented on #27
I believe Smallpeice is 1st, 2nd, 3rd, committee.

Not trophies. Usually things like drones, or robot kits.

That will be handled by scheduling, or deferred to league points.

[2019-06-09 20:05] jcwilliamson commented on #27
I believe we did drones and arduino starter kit things last year.

[2019-06-09 20:06] joe9599 commented on #27
do we usually order something, or approach companies and ask them to support us.
I prefer the idea of a kit rather than something like a drone, but if that has been successful in the past then I'm not going to disagree. do we have a rough budget for this

[2019-06-09 20:13] PeterJCLaw commented on #58
As I understand it, `j5` is used as a library in the same process as the competitor's code. In the stack as described, that means it'll be running in the container as launched by `runusb`. That container (by design) _does not_ have direct access to the hardware and is instead given sockets over which it can talk JSON to `robotd`. I don't feel I know enough about `j5` to comment about whether the s

[2019-06-09 20:46] trickeydan commented on #58
Part of the reason for this rewrite was to be rid of the JSON sockets.

Can we prevent having to reimplement sockets by:

- a) Changing the permission on the container.
  - This essentially renders the container useless, but it will shippable.
or
- b) Have runusb call the python process instead of `systemd-nspawn`, removing the containers entirely.

`j5` does not show an identical API, but it is e

[2019-06-09 22:08] PeterJCLaw commented on #58
We _could_ do a variety of things and that would be an interesting technical discussion to have (both regarding the stack itself and the shape of the API). However given the stated desire to minimise the changes to the existing stack, it seems counter to that aim (and the derisions as made) that we now find that we need to do so.

Stepping back a bit I'm rather concerned that the decision here was

[2019-06-10 10:40] jcwilliamson commented on #54
Update: mech workshop says that we will be getting these some time tomorrow. Total of 35 units

[2019-06-10 16:13] jcwilliamson commented on #79
I've got the motors out still, so would be happy to do this. This will require additional camcons and possibly more capacitors.

[2019-06-10 16:55] trickeydan commented on #58
Should have this, with a patched version of runusb, working for all boards except Arduino tonight.

- Implement the SR servo board.
- Run everything in one process to remove the socket issues
- Get a track record for the `j5` stack, as it is the **only** actively developed stack that will be considered for SR2020 at this time.

- We had a lengthy discussion covering a lot of topics.
- `robotd` is

[2019-06-10 16:56] #74 closed

[2019-06-10 18:03] jcwilliamson commented on #79
These have now been added to the order list.

[2019-06-10 18:24] anton-firmware commented on #72
changes implemented, plz to review @ https://github.com/sourcebots/servo-firmware/pull/21

[2019-06-10 18:54] antonnikitin97 opened #80 "Make a Smallpeice section for the SB website"
We haven't used the site in a while, I'm thinking maybe make a section of the website that contains info relevant to the summer school (schedule, game rules, docs, other info we deem relevant).

[2019-06-10 18:58] jcwilliamson commented on #18
1x  30.5m Black 14 AWG (unopened)
1x 30.5m Red 16 AWG (unopened)
1x 100ft Blue 22 AWG (unopened)
1x 100ft Black 18 AWG (unopened)
1x 100ft Red 14 AWG (unopened)
1x 0.5kg enamelled wire 0.5mm (unopened)
1x 30.5m Blue 15AWG (mostly complete)
1x 100m Blue hookup wire (mostly complete)

[2019-06-10 19:17] trickeydan commented on #58
It works.

We should note that the latest version of `usbmount` seems to be very broken.

[2019-06-10 19:25] Dasepho commented on #58
I can confirm that j5 is doing everything it should as expected (except https://github.com/j5api/j5/issues/308) which has already been fixed.
Usbmount isn't running the main.py at the moment, but this isn't a j5 issue

[2019-06-10 19:39] joe9599 commented on #75
here are the proposed files to be laser cut
[separated into sheets.zip](https://github.com/sourcebots/tasks/files/3273503/separated.into.sheets.zip)

[2019-06-11 08:20] Dasepho commented on #75
![Screenshot at 2019-06-11 09-08-50](https://user-images.githubusercontent.com/47758255/59255567-32c81800-8c2a-11e9-983f-92ca12104fcd.png)

[2019-06-11 08:43] Dasepho opened #81 "Write formal rules document"
Turn game proposal into formal rules for teams, has to be in a private repo but keeping an issue here for it for tracking progress purposes

[2019-06-11 08:44] Dasepho commented on #25
Replacing this issue with #81 now we know the general game idea

[2019-06-11 08:44] #25 closed

[2019-06-11 08:46] Dasepho commented on #75
We're considering this blocked by #81 for now

[2019-06-11 11:25] RealOrangeOne commented on #58
Can we get some more detail on this (posted as an issue on https://github.com/sourcebots/runusb).

I'd be interested in exactly what the issue is. It's a very simple application, so has very little scope to actually _go wrong_.

[2019-06-11 11:30] trickeydan commented on #58
There's no issue with runusb. `j5` talks directly to usb devices though, in the same process as the user code, so we have to remove the container, which is what [my patch](https://github.com/j5api/runusb) does.

Usbmount appears to not work at all on the latest version of raspbian. The process started by systemd crashes. If I mount the usb using `mount`, then runusb picks it up fine and runs the u

[2019-06-11 11:57] joe9599 commented on #75
Here is the 2d flat pack which fits with the above 3d model
[separated into sheets.zip](https://github.com/sourcebots/tasks/files/3276338/separated.into.sheets.zip)

[2019-06-11 22:16] PeterJCLaw commented on #81
This feels like a silly question, but why does this need to be in a private repo? The game design is already public (see #25 and #75), so it's not like there's any suspense to be gained by having the precise details kept private.

[2019-06-12 09:35] Dasepho commented on #81
That's a good point. My concern is that we could have a 'perceived fairness' problem if some students know the game in advance and strategise. That ship might have already sailed as you point out with #25 and #75.
That said, at the moment all public knowledge is subject to change but the final rules document won't. I guess any students that see #25 and #75 know they are working with incomplete / i

[2019-06-12 10:25] trickeydan commented on #81
I think this is a fair point. I made the rules repo private without knowing that we had already published it in a public area.

I'm happy to move the rules repo to the SourceBots Org if we are going to have it public.

[2019-06-12 10:30] Dasepho commented on #81
When have the rules been announced in previous years? If they are announced at the start of the week then I imagine it wouldn't give an unfair advantage to anyone who sees them ahead of time.

[2019-06-12 13:33] joe9599 opened #82 "Figure out how cubes will be constructed"
We need to figure out how to construct the cubes to allow teams to get a reliable connection to measure capacitance, we should also prototype a few ideas

[2019-06-12 13:36] joe9599 commented on #82
This may change how the rules and lab notes are written, so should be done soon if possible. If a good solution cannot be found, an alternative may be needed which would require a number of changes to how to game works. It will also require parts to be ordered once a decision is made

[2019-06-12 13:47] trickeydan commented on #56
Had a meeting with Son and Joyce.

Arranging meeting with Kier and Tyler to sort manufacturing.

[2019-06-12 15:09] anton-firmware commented on #72
The PR has been merged. Closing this issue! :)

[2019-06-12 15:09] #72 closed

[2019-06-13 17:19] trickeydan opened #83 "Reimburse SRO from SP budget"
SRO purchased 6 C270 webcams out of their budget.

Total: £83.94

We need to reimburse them, probably by proxy, in RUB form.

[2019-06-14 21:45] Tyler-Ward opened #84 "Confirm ECS can provide items we previously borrowed from them"
The list according to the equipment list is

* Hacksaw - Junior
* Hacksaws
* Hot glue gun
* Panel/Crosscut Saws
* Hand Powered Drills
* Set Squares
* Hookup Wire
* soldering irons

[2019-06-14 21:48] Tyler-Ward opened #85 "Arrange for SUSU tech hire"
We should talk to susu to hire the kit we need again

[2019-06-14 21:49] Tyler-Ward opened #86 "Pick up laptops"
We need to borrow laptops for use in the cube previously this has been from Jules

[2019-06-15 13:15] #50 closed

[2019-06-15 13:18] trickeydan commented on #11
We're buying clones instead

[2019-06-15 13:18] #11 closed

[2019-06-15 14:55] trickeydan commented on #86
Does Jules have 16 laptops?

We may have to borrow some from Jules and some from L2 labs

[2019-06-15 14:56] trickeydan commented on #85
We should try and do this before the end of June in order to get it out of the way.

We will have much less resources in July.

[2019-06-15 14:57] trickeydan commented on #55
Is this done @joe9599?

Also, I am unsure why this is restricted to `soton`, please explain your labelling?

[2019-06-15 14:58] trickeydan commented on #84
Who do we need to talk to about this?

[2019-06-15 15:04] Tyler-Ward commented on #84
Someone needs to pop down to L2 labs and ask

[2019-06-15 19:54] joe9599 commented on #55
I am just waiting for them to be approved and ordered.
I have labelled it as soton, as that is where would be easiest to assemble when the arrive (I am counting assembling as part of "creating") alternatively, they could be shipped to individuals to each assemble at their homes,  however I dont know who is going to have what capabilities at their houses, for example I can solder a small quantity (

[2019-06-15 20:55] kierdavis commented on #32
This happened, culminating in an email to Son and Joyce summarising [this information](https://docs.google.com/spreadsheets/d/1zE_gw8idO3K-fdvhHla8w_M4fcu3P_LFyxQ6oa0C2X4/edit#gid=119533467). Further steps will be tracked in #5.

[2019-06-15 20:55] #32 closed

[2019-06-15 20:57] kierdavis commented on #5
@trickeydan What are the next steps here? Shall I go ahead and start getting orders placed for the boards we can currently afford?

[2019-06-15 21:59] kierdavis commented on #5
[Updated calculations](https://docs.google.com/spreadsheets/d/1zE_gw8idO3K-fdvhHla8w_M4fcu3P_LFyxQ6oa0C2X4/edit#gid=350195810) suggest we could manufacture all power and motor boards right now, and need an extra £2000 to do the servo boards as well.

[2019-06-16 10:13] trickeydan commented on #5
@kierdavis

Let's forward the updated info to Son.

I'll try and meet him ASAP to discuss next steps, but I strongly suspect it'll involve ordering PB and MB this week.

[2019-06-16 21:04] trickeydan opened #87 "Add Priorities to tasks"

[2019-06-17 14:46] trickeydan commented on #5
Have spoken to Son, we're good to order the first two boards.

[2019-06-17 15:36] kierdavis commented on #5
Brilliant, I'll aim to get things moving this evening.

[2019-06-17 15:42] jcwilliamson commented on #54
Picked these up from mech. Today.

[2019-06-18 15:50] kierdavis commented on #62
@trickeydan did this last night and says he updated the [inventory](https://docs.google.com/spreadsheets/d/1C0oOGQNJ-7rAppNlEvt1zI5zew3wNtpBUpZjMcK-Ork/edit#gid=886293144) to match, but most of the boards are still listed as "unknown" status on there.

Dan, please could you confirm what the status of this is?

[2019-06-18 15:50] kierdavis commented on #5
Somewhat blocked on #62 in case it reveals new information about how many boards we need to manufacture.

[2019-06-18 17:13] trickeydan commented on #62
Have updated

I'm slightly uncertain about `SRO-AA4-7BO`, as it was marked as previously not working, but all of the boards I tested last night worked...

[2019-06-18 17:46] kierdavis opened #88 "Update battery charge status in inventory"
All but two of the batteries were storage-charged yesterday. These two batteries are in a bag labelled "needs storage charging" (note there are two bags currently labelled like this; the other one is empty). The inventory should be updated based on this information to reflect whether batteries are known to be at storage charge level or are at an unknown charge level.

[2019-06-18 17:47] kierdavis opened #89 "Replace battery labels"
Many LiPo batteries have old labels that need replacing.

[2019-06-18 17:49] kierdavis opened #90 "Update battery/battery charger locations in inventory"
Yesterday we put all the battery chargers (and accessories) we could find into one RUB and all the PSUs into another. The batteries were split between two further RUBs. All four RUBs have up-to-date labels for their contents but this has not been updated in the inventory.

[2019-06-18 17:58] kierdavis commented on #62
Thanks!

I count:
* 8 working power boards, as expected
* 9 working motor boards + 1 probably working (`SRO-AA4-7BO` as mentioned above)

I'd suggest stress-testing `SRO-AA4-7BO` a bit to see if any failures are observed; if not, lets assume it's working until further notice.

[2019-06-18 21:56] #44 closed

[2019-06-19 15:23] trickeydan opened #91 "Ensure content is accessible"
We have received the following requirements to enable a student this year:

“[REDACTED] would appreciate any written material provided electronically so that she can access it on her laptop in a format that suits her. If you are able to provide any powerpoints on a USB at the time of presentation that would be helpful.
She may need to ask for additional help with practicals especially if dealing w

[2019-06-19 15:25] trickeydan commented on #89
All items which need a new label are marked as such in the inventory

[2019-06-19 15:29] trickeydan commented on #56
This was chased and obtained

[2019-06-19 15:29] #56 closed

[2019-06-19 15:30] trickeydan commented on #64
Son is handling these this year.

[2019-06-19 15:30] #64 closed

[2019-06-19 15:31] trickeydan commented on #31
Lipo bags have been counted. This data is in the inventory

[2019-06-19 15:32] trickeydan commented on #36
I believe this ticket can be closed as the plan is to purchase the amount of carpet we need every year after this one.

SR have a carpet roll dangerously placed on the new cupboard but that isn't a SRO or SourceBots problem at this time.

[2019-06-19 15:34] trickeydan commented on #24
Qualitative count : Not much

[2019-06-19 15:34] trickeydan commented on #18
This was checked.

[2019-06-19 15:34] #18 closed

[2019-06-19 15:35] trickeydan commented on #13
Tyler and I did this last week

[2019-06-19 15:35] #13 closed

[2019-06-19 15:36] trickeydan commented on #21
Is this even our responsibility?

Son seems to want to do this I think

[2019-06-19 15:37] trickeydan commented on #19
I poked Joyce about this the other day, but we should email them both to do it properly

[2019-06-19 15:37] trickeydan commented on #14
Amazon is a good supplier.

We should order them now.

That is tracked on the ordering sheet.

[2019-06-19 15:37] #14 closed

[2019-06-19 15:38] trickeydan commented on #22
This is a duplicate of

[2019-06-19 15:38] #22 closed

[2019-06-19 15:40] trickeydan commented on #8
We have bought enough webcams now.

Do we need to make a formal request for this?

[2019-06-19 15:41] trickeydan opened #92 "Send Python Worksheets"
We need to send any worksheets out ASAP.

[2019-06-22 17:37] PeterJCLaw commented on #58
This seems circular and self-serving, rather than a useful criteria. Speaking from the perspective of SourceBots yet claiming things about what will or won't be considered by SR is clearly impossible.

Speaking from the perspective of an SR volunteer, I trust that "it was used at Smallpeice" isn't going to be referenced as a reason to use `j5` for SR. (For clarity, I would usually consider this to

[2019-06-22 21:19] Adimote commented on #92
Typically this is a generic 'introduction to python' worksheet, normally we update the old 'Python: A Whirlwind Tour' and send it out: https://github.com/s-r-o/python-a-whirlwind-tour

[2019-06-23 18:05] trickeydan commented on #92
We need to get a license put on this..

[2019-06-24 09:44] Adimote commented on #92
I agree, it would be useful to put a license on it so other people can use
it without worries. I don't think it's blocking us modifying & sending it
out though.

On Sun, 23 Jun 2019 at 20:05, Dan Trickey <notifications@github.com> wrote:

[2019-06-24 18:09] #76 closed

[2019-06-24 18:10] #60 closed

[2019-06-24 18:10] #48 closed

[2019-06-24 18:12] #34 closed

[2019-06-25 10:07] jcwilliamson commented on #49
- [ ] Image of motor under "basic movement"

[2019-06-25 10:34] trickeydan commented on #88
Done

[2019-06-25 10:34] #88 closed

[2019-06-25 14:45] trickeydan commented on #86
Have spoken to Jules today. Booked out possibly 10, but that is all that he has.

[2019-06-25 14:47] trickeydan commented on #84
Essentially yes. They are concerned about the number of students though. We need to talk to Dave apparently but he wasn't in.

[2019-06-25 14:47] #89 closed

[2019-06-25 14:47] #78 closed

[2019-06-29 13:17] joe9599 commented on #81
I believe this is now blocked on figuring out cube manufacture, as that may lead to a variant of the game, or a completely different game all together blocked on #82

[2019-06-29 13:24] joe9599 commented on #27
Here are a few quick options from amazon, however its hard to do much on this without having any information about budget
https://www.amazon.co.uk/SIMREX-Foldable-Quadcopter-Headless-Altitude/dp/B07J4VLR7S/ref=sr_1_6?keywords=drone&qid=1561814487&s=gateway&sr=8-6
https://www.amazon.co.uk/H6-Foldable-Altitude-Quadcopter-One-Button/dp/B075XHV1S5/ref=sr_1_7?keywords=drone&qid=1561814487&s=gateway&sr=

[2019-06-29 15:37] joe9599 opened #93 "Build tokens"
We should build all of the cubes, this is blocked on purchase arena props #38

[2019-06-29 15:38] joe9599 commented on #82
the cubes will be 10cm cubes with libkoki, as used in the past without modifications

[2019-06-29 15:38] #82 closed

[2019-06-29 16:27] WillB97 commented on #85
Is this also going to include purchasing carpet or are we using the roll from last year?

[2019-06-29 16:34] joe9599 commented on #46
capacitive lab no longer needed due to the issues in manufacturing (neither is the metal strip lab) I am currently looking through the labs to review them

[2019-06-29 17:22] WillB97 commented on #73
We could build this using a length of Susu(#85) truss stood upright in an Xbase with scaffold poles for the branches.

Since this can be made entirely from Susu equipment this seems like a simple solution. We can rap it in cloth like the arena.

Susu has a range of scaff pole lengths so we should figure out approximately how long we'd want, we will likely need to provide caps for the end of the po

[2019-06-29 17:25] joe9599 commented on #73
How will the cubes attach to this? velcro?

[2019-06-29 17:30] WillB97 commented on #71
All the isolutions sockets in Susu are fully routable from each other so simpler solutions than previously used could be deployed.

The most significant factor is what systems need to be connected to the network outside the cube

[2019-06-29 17:41] WillB97 commented on #70
Working out where we want the screens is the main restriction on deciding the level of networking that is required.

[2019-06-29 18:00] WillB97 commented on #73
For the final attachment velcro-ing the cubes would probably be best.

I'm not sure how well velcro-ing directly to the scaffold pole would work since your trying to join a flat and a round object.

Probably putting velcro onto a scaffold mount would work best, I'll have to check next time I'm in soton.

[2019-06-29 20:13] WillB97 commented on #65
This would likely use a similar wash setup to the recent Student Robotics competition.

When we tested the libkoki vision system with this lighting we did not find any reasonable scenarios where tokens couldn't be read, although some teams did still report issues.

[2019-06-29 20:17] WillB97 commented on #66
Separate music levels can be set between the cube and Bar 2, although there needs to be clear communication of what is wanted as there was a lot of conflicting information given at the recent competition.

[2019-07-07 10:08] joe9599 commented on #47
The BOM will exist here https://docs.google.com/spreadsheets/d/1nahSkuvf5Tf4m66dcgQeNHO71B6hP9l7xcWeof3eRZI/edit#gid=0

[2019-07-07 13:55] Adimote commented on #63
I believe this is unblocked as we're going for the 8mx8m arena

[2019-07-07 16:45] joe9599 commented on #63
I believe this should also include scaff for the tree

[2019-07-07 18:19] trickeydan commented on #63
@joe9599

Why would we make the tree out of scaff?

I thought that the plan was wood / stage decking?

[2019-07-07 20:32] joe9599 commented on #63
I thought the upright was scaff, I may have misunderstood though

[2019-07-08 08:22] WillB97 commented on #63
In #73 we were talking about using truss which susu already has.

[2019-07-08 18:13] JennyLouise commented on #52
Do we have any more details than this? I'm happy to put a purchasing list together and add a saw blade, but need more info

[2019-07-08 18:20] JennyLouise commented on #20
Do we have any more info on this? What stationary, how much, and where from?

[2019-07-08 18:34] Adimote opened #94 "Arrange for guest accounts"

[2019-07-08 18:39] Adimote opened #95 "Arrange with Estates to move things between venues"
We'll be generating a list of things which we want them to move (#125), this is about arranging for the movement to happen.

[2019-07-08 18:40] JennyLouise commented on #19
I'll send an email to both of them, and will ask to pick them up on the Friday/Saturday, the 9th/10th of August. Requesting 100 each of the items listed, and anything else they think would be good to add.

[2019-07-08 18:40] Adimote opened #96 "Plan the intro talk (what Smallpeice call 'How to build your robot')"
SourceBots has an hour presentation to the competitors. This is what the Smallpeice schedule calls the "How to build your robot" presentation.

We have an hour for this, which we're going to break down into:
- [ ] How to build your robot (#144)
- [ ] Rules presentation (#131)
- [ ] ...

[2019-07-08 18:40] joe9599 opened #97 "make sure lunch arrangements are in place"

[2019-07-08 18:40] Adimote opened #98 "Purchase cardboard"

[2019-07-08 18:41] joe9599 opened #99 "Build mech workshop demonstration joints"
For Mechanics Workshops

(See also #59 for hyper-general thoughts on improvements)

[2019-07-08 18:41] Adimote opened #100 "Arrange with ECS to cut the wood"
This will happen Tuesday morning

[2019-07-08 18:42] joe9599 opened #101 "Order Robot construction parts"
Wood, pipes etc.

[2019-07-08 18:43] joe9599 opened #102 "Confirm academic talks"

[2019-07-08 18:44] Adimote opened #103 "Create programming workshops"
Typically this is a series of tasks building up from "how to do a for loop" onto moving a robot, onto more complex stuff.

See also #59 for hyper-general thoughts on improvements.

[2019-07-08 18:44] joe9599 opened #104 "Check tours are arranged"

[2019-07-08 18:46] joe9599 opened #105 "Volunteer briefing email"
inform volunteers about formal meal, what they need to bring etc.

[2019-07-08 18:46] Adimote opened #106 "Schedule volunteers for competition"

[2019-07-08 18:47] Adimote opened #107 "Book the after-event meal"

[2019-07-08 18:47] joe9599 opened #108 "Plan cleanup day (Saturday)"

[2019-07-08 18:49] Adimote opened #109 "Check how many volunteers will attend the Formal meal"
This can probably be in a form sent at the same time as #105

[2019-07-08 18:49] joe9599 opened #110 "Confirm Schedule"

[2019-07-08 18:49] Adimote opened #111 "Invite parents to finals"

[2019-07-08 18:50] joe9599 opened #112 "Book car parking for parents"
Some volunteers may also want parking

[2019-07-08 18:50] Adimote opened #113 "Plan Rules Q&A session"
We need to plan a slot early in the week (likely not the first day though) where the competitors can ask questions about the rules.
This likely happens during a robot hacking slot, or a similar lab.

We'll need to ensure that the head judge is around for this session.

[2019-07-08 18:50] joe9599 opened #114 "Create film and photography plan"

[2019-07-08 18:50] joe9599 commented on #114
University photographer may be coming

[2019-07-08 18:52] Adimote opened #115 "Printing"
- [x] Rules
- [x] Electronics lab handouts
- [ ] ~Programming lab handouts (#103)~
- [x] Maps of campus (to likely go in #19)
- [x] Schedules of the day - available at https://github.com/sourcebots/tasks/issues/110
- [ ] ~Cube Markers (part of #93)~
- [ ] ~Arena Markers~
- [ ] Score sheets (design is part of #153)
- [x] Signage #135
- [x] Equipment borrowing forms (#129)
- [x] Mentor guidance shee

[2019-07-08 18:52] joe9599 opened #116 "Flash USB drives with relevant software"
Every participant gets a USB stick with a basic robot program on it (e.g. hello world or drive forwards).

Also, we need arena zone USBs. The particular contents of these depends on what kit we ship.

[2019-07-08 18:53] joe9599 opened #117 "Inventory all equipment"

[2019-07-08 18:53] JennyLouise opened #118 "Test kit"
Checking boards are working

[2019-07-08 18:53] Adimote opened #119 "Pack team kits"

[2019-07-08 18:53] joe9599 opened #120 "Test software"

[2019-07-08 18:54] joe9599 opened #121 "Pack sensor kit for team kits"

[2019-07-08 18:54] Adimote opened #122 "Assemble Demo Robot"

[2019-07-08 18:56] joe9599 opened #123 "Create plan for moving equipment"

[2019-07-08 18:56] JennyLouise opened #124 "Arrange for transportation tools"
Trolleys, etc

[2019-07-08 18:56] Adimote opened #125 "Plan what will be moved by estates"
We need to sort things into 'move to cube', 'stay in lvl 4', 'stay in labs', etc..

#95 exists to arrange for the moving to happen; this ticket is about planning what should be moved.

[2019-07-08 18:56] joe9599 opened #126 "Create volunteer roles document"

[2019-07-08 18:57] JennyLouise opened #127 "Create interactive volunteer schedule"
Google calendar?

[2019-07-08 18:57] Adimote opened #128 "Plan Volunteer Briefing"
This is the briefing at the start of the event to tell volunteers what to do.

[2019-07-08 18:57] joe9599 opened #129 "Prepare forms for borrowed equipment"

[2019-07-08 18:58] JennyLouise opened #130 "Confirm the presenter for the ECS welcome talk"

[2019-07-08 18:58] Adimote opened #131 "Rules presentation (Monday morning, part of the intro)"
This is the intro to the game as a whole, which happens as part of our intro presentation #96.

The whole slot for that presentation is an hour, of which this should likely be about 15 minutes.

[2019-07-08 18:58] joe9599 opened #132 "Make sure rooms are booked for the lectures"

[2019-07-08 18:58] JennyLouise opened #133 "Ensure programming software installed on computers"

[2019-07-08 19:00] JennyLouise opened #134 "Book chairs and tables from SUSU"

[2019-07-08 19:01] JennyLouise opened #135 "Print signage"

[2019-07-08 19:02] joe9599 opened #136 "Plan competition intro sequence"
This is the welcome to the competition (9am on the Friday) for the competitors.
This is when they first see the arena.

[2019-07-08 19:02] JennyLouise opened #137 "Design certificates and award cards"

[2019-07-08 19:02] JennyLouise opened #138 "Print award cards and certificates"
Generate the certificates and get them printed. Intentionally separate from #115 as this happens much later in the week and is a bit more involved in terms of preparation.

- [x] Prepare the certificate generation
- [ ] Get the user/team/school datas (CSV)
- [ ] Print the certificates

[2019-07-08 19:03] Adimote opened #139 "Schedule Teardown"

[2019-07-08 19:03] JennyLouise opened #140 "Find a speaker/presenter for the post finals talk"

[2019-07-08 19:43] joe9599 commented on #140
Will this be the same speaker as #60

[2019-07-09 09:10] trickeydan commented on #132
This has been sorted by Son.

[2019-07-09 09:11] #132 closed

[2019-07-09 09:11] trickeydan commented on #122
I suggest using one of the Tudors and swapping the Odroid for a Pi

[2019-07-09 10:39] JennyLouise commented on #19
We have 87 bags leftover from last year. Reena has said she can give us prospectuses, and Joyce has said she's all out of USB sticks but does have lots of sticky note pads and might get some pens made.

[2019-07-09 11:33] kierdavis commented on #122
Does the robot also need to be programmed to do anything?

[2019-07-09 11:53] kierdavis commented on #118
The power and motor boards were tested a few weeks ago; their "working" status in the inventory is up to date.

Servo boards (and probably some more power and motor boards) will be coming on loan from SR; if they haven't tested them already, we should.

I think all the motors have been tested recently, but that isn't something I've been involved in.

Raspberry Pis should definitely be tested. It's

[2019-07-09 17:18] joe9599 commented on #118
I can confirm that the motors were tested

[2019-07-09 17:54] joe9599 commented on #27
last years budget was ~£400
if we were to do raspberry pi 4 (1GB with a power cable and a micro HDMI cable) would cost £47 per person so would only leave ~£165 for 2nd and 3rd, I dont know what the split between 1st 2nd and 3rd has been in previous years, but this doesnt seem too unreasonable

[2019-07-13 10:24] joe9599 commented on #140
Being sorted by Son

[2019-07-13 10:27] joe9599 commented on #137
@ninjafrostpn Could you do this again this year?

[2019-07-13 10:28] joe9599 commented on #136
@RealOrangeOne @Tyler-Ward Can one of you take this task

[2019-07-13 10:30] joe9599 commented on #131
@RealOrangeOne Can you do this again

[2019-07-13 10:30] trickeydan opened #141 "Have meeting with SUSU"

[2019-07-13 10:34] joe9599 commented on #133
Probably being done the weekend before the event

[2019-07-13 10:35] joe9599 commented on #130
This is being done by Son

[2019-07-13 10:36] joe9599 commented on #128
@Adimote Am I right in thinking you usually do this?

[2019-07-13 10:37] joe9599 commented on #127
@Adimote Could you do this?

[2019-07-13 10:39] joe9599 commented on #126
@Adimote Is this something you could do

[2019-07-13 10:43] joe9599 commented on #124
Email ECS for trolley

[2019-07-13 10:45] joe9599 commented on #119
worst case can we put things on the big table, and they collect it

[2019-07-13 10:52] joe9599 commented on #108
This seems like a duplicate of #139

[2019-07-13 10:55] joe9599 commented on #106
@Adimote Is this something you could do as part of #127

[2019-07-13 10:56] joe9599 commented on #106
Oops, just seen you're assigned already

[2019-07-13 10:58] joe9599 commented on #104
I believe this should be done by Son

[2019-07-13 10:59] joe9599 commented on #103
@ninjafrostpn Could you do this again?

[2019-07-13 11:02] joe9599 commented on #102
I believe Son is doing this

[2019-07-13 11:04] joe9599 commented on #97
Is this something Son is doing?

[2019-07-13 11:19] joe9599 commented on #57
I believe this is a repeat of #110

[2019-07-13 11:23] joe9599 commented on #75
not doing appletree

[2019-07-13 11:23] #75 closed

[2019-07-13 11:23] joe9599 commented on #73
not doing apple tree

[2019-07-13 11:23] #73 closed

[2019-07-13 11:29] joe9599 commented on #87
done

[2019-07-13 11:29] #87 closed

[2019-07-13 14:35] Tyler-Ward commented on #47
Bom has been merged into the Order5 purchaces

[2019-07-13 14:35] #47 closed

[2019-07-13 14:38] Tyler-Ward commented on #31
This is done and have arrived

[2019-07-13 14:38] #31 closed

[2019-07-13 16:03] Tyler-Ward opened #142 "Get prize mugs from joyce"
we need 20 prize mugs from joyce

[2019-07-13 17:52] RealOrangeOne commented on #136
For context, what is this tracking? Is this the talk we do when teams are first taken into the cube?

[2019-07-13 17:54] RealOrangeOne commented on #131
I've not done it before for smallpeice, but have done it twice now for SR. I've never actually seen one for smallpeice :sweat_smile:.

I'm definitely happy to take this (and the rest of the intro presentation if there's a card for that), although I'll need some prep with someone who's done this before (cc @prophile), and someone who's had a reasonable amount of input in the rules.

[2019-07-13 17:58] RealOrangeOne commented on #116
What software is required on USB drives?

[2019-07-13 17:58] Tyler-Ward commented on #16
Have added the parts to the order list 200 of each of the screws above

[2019-07-13 17:58] #16 closed

[2019-07-13 17:59] RealOrangeOne commented on #112
Volunteer parking is a must have, and probably deserves its own ticket.

Volunteers in accommodation can park there, but it's any which are traveling in which may want some. Alternatively, allocating budget to reimburse parking may be a simpler implementation

[2019-07-13 18:01] RealOrangeOne commented on #103
The previous workshops are currently on the docs:

https://docs.sourcebots.co.uk/tutorials/intro-to-python/
https://docs.sourcebots.co.uk/tutorials/python-whirlwind-tour/

They _may_ want some updating, and checking they're still fine, but I suspect they're fine to ship as-is.

(Context: They were written by me)

[2019-07-13 18:02] RealOrangeOne commented on #96
I'm happy to take this if no one else wants to.

Alternatively, i'm also happy to tag-team it!

[2019-07-13 18:03] RealOrangeOne commented on #92
SourceBots already has a sufficiently licensed version of the whirlwind tour on the docs (https://docs.sourcebots.co.uk/tutorials/python-whirlwind-tour/). It might be worth removing that repo to avoid confusion.

Given https://github.com/sourcebots/tasks/issues/103#issuecomment-511142183, do we need worksheets?

[2019-07-13 18:05] RealOrangeOne commented on #91
Ensuring content is available electronically is generally a good idea anyway, as it saves distribution.

I'm happy to own ensuring any presentations are available, _somehow_. Likely through links on the docs.

[2019-07-13 18:09] RealOrangeOne commented on #66
Having no audio in the pits at all is a little dull, but I think having something *very* quiet as background noise should be fine. We definitely want it loud in the cube, though!

The playlists for both in and out of match are currently in progress, based off the works from previous SR / SB / smallpeice events.

[In Match](https://open.spotify.com/user/theorangeone97/playlist/3P9ptA4qEqHCIMkLaVsE5

[2019-07-13 18:11] RealOrangeOne commented on #140
I'm happy to handle the finals presentation from our side (i'll make sure I have a lot more practice than last time!).

[2019-07-13 19:08] Tyler-Ward commented on #28
this has been checked and added to order 5

[2019-07-13 19:08] #28 closed

[2019-07-13 19:12] Tyler-Ward commented on #27
Added to order list 5

[2019-07-13 19:12] #27 closed

[2019-07-13 19:17] Tyler-Ward commented on #17
added to order list 5

[2019-07-13 19:17] #17 closed

[2019-07-13 19:33] trickeydan commented on #92
Have sent pdf to Son for distribution.

[2019-07-13 19:33] #92 closed

[2019-07-13 19:34] trickeydan opened #143 "Worksheets for Python Labs"
Given https://github.com/sourcebots/tasks/issues/103#issuecomment-511142183, do we need worksheets?

_Originally posted by @RealOrangeOne in https://github.com/sourcebots/tasks/issues/92#issuecomment-511142317_

[2019-07-13 19:38] trickeydan commented on #136
I believe so.

[2019-07-13 22:50] kierdavis commented on #5
Manufacture files have been finalised, and order instructions have been put together and sent to ECS for purchasing.

[2019-07-14 17:37] kierdavis commented on #143
I think previously we've just asked them to work through Whirlwind Tour and Codecademy. Do we need anything more than that?

[2019-07-14 17:41] kierdavis commented on #143
Hang on, what's the difference between this issue and #103?

[2019-07-14 17:44] kierdavis commented on #116
Usually every participant gets a USB stick with a basic robot program on it (e.g. hello world or drive forwards).

Also, we need arena zone USBs. The particular contents of these depends on what kit we ship.

Anything else?

[2019-07-14 18:03] kierdavis commented on #128
I think @prophile has done this in recent years.

[2019-07-14 22:32] Adimote commented on #63
I'm happy to arrange this

[2019-07-15 07:34] RealOrangeOne commented on #143
Also, why is there a separate issue tracking _whether_ we need worksheets? Seeing as #92 is done, surely this is too?

[2019-07-15 07:36] RealOrangeOne commented on #92
Said PDF, for reference: [sourcebots_whirlwind.pdf](https://github.com/sourcebots/tasks/files/3391237/sourcebots_whirlwind.pdf)

[2019-07-15 12:26] JennyLouise commented on #142
Have emailed Joyce and Reena about merchandise, as posted in issue #19
Dan's emailed Joyce too, reiterating what I'd already asked for, with the addition of mugs too.
Joyce says she thinks she has 20 mugs for us, I'll confirm with her closer to the time and organise picking all the merchandise up, including mugs.
Can CC people into those emails if it'll help avoid cross posting again.

Duplicate o

[2019-07-15 12:26] #142 closed

[2019-07-15 12:27] JennyLouise commented on #19
Have added mugs to the list of items we need, Joyce has said she thinks she has 20 mugs for us to use as prizes but I'll get her to confirm actual numbers soon

[2019-07-15 16:15] JennyLouise commented on #19
I'm meeting Joyce tomorrow afternoon (the 16th of July) to talk about all this stuff

[2019-07-15 18:55] trickeydan commented on #111
Forwarded to Son

[2019-07-15 18:55] #111 closed

[2019-07-15 18:57] trickeydan commented on #114
Jenny is going to ask Joyce if she is able to book the uni photographer.

Fallback plan is volunteers take photos on phones or maybe Laurie.

[2019-07-15 19:06] trickeydan commented on #107
Jenny is going to take a poll of attendance and what destinations people are interested in.

Also for te crown on saturday before

Suggestions from the past:

- The Stable
- The Cowherds
- Brewhouse and Kitchen
- Baffi

[2019-07-15 19:07] trickeydan commented on #105
@Adimote Are you able to do this?

[2019-07-15 19:08] trickeydan commented on #100
@jcwilliamson Are you able to do

[2019-07-15 19:21] trickeydan commented on #97
Forward dietary requirements

[2019-07-15 19:21] #97 closed

[2019-07-15 19:22] trickeydan commented on #139
@prophile Are you able to do this?

[2019-07-15 19:22] trickeydan commented on #130
It's Geoff Merrett

[2019-07-15 19:22] #130 closed

[2019-07-15 19:37] jcwilliamson commented on #100
I'm currently out of town, and will be for about another week. I may not be
the best person.

On Mon, 15 Jul 2019, 20:08 Dan Trickey, <notifications@github.com> wrote:

[2019-07-15 21:00] trickeydan commented on #100
Maybe email them? I thought you would be a good person because they know you from the Motor mounts.

We have a real lack of people at the moment, especially in Southampton

[2019-07-15 21:03] jcwilliamson commented on #100
I'm happy to send an email tomorrow. I'll be around at some point next week
(tbd).

On Mon, 15 Jul 2019, 22:00 Dan Trickey, <notifications@github.com> wrote:

[2019-07-15 21:22] trickeydan commented on #143
Determined that we do. See #103

[2019-07-15 21:23] trickeydan commented on #103
The python labs last year had an awful rating and need to be reworked majorly

[2019-07-15 21:46] trickeydan commented on #46
~Anton has agreed to take this on.~

 Deadline is 27th July

[2019-07-16 07:22] joe9599 commented on #46
The content has already been reviewed and fixed by 2-3 people I believe, I'm just waiting for a chance to review formatting as I don't know how to compile it, the current branch is called something like jmorton  review

[2019-07-16 10:26] JennyLouise commented on #115
I'll print everything we need* on the 10th of August, just need to be sent the files when they're ready to go.

*Are cube markers and arena markers needed sooner?

[2019-07-16 10:34] JennyLouise commented on #137
Does anyone have a picture of last year's certificates? What info do we need on there? I've made a simple certificate border, just got to finalise the content on it

[2019-07-16 10:35] JennyLouise commented on #138
Do we need these on fancy paper?

[2019-07-16 10:50] ninjafrostpn commented on #137
Sorry, yes, I have code and pdfs and things associated with this from last year, so can find these things (and take this if required, as I'm not yet assigned anything, having not interacted with proceedings as of yet), apologies for the silence.

[2019-07-16 11:02] jcwilliamson commented on #100
Mark Long in the mechanical workshop (59/1241) Has agreed to do this for us.

On Tue, 16 Jul 2019, 09:51 Dan Trickey, <notifications@github.com> wrote:

[2019-07-16 11:07] ninjafrostpn commented on #137
Found the repository in question here:
https://github.com/sourcebots/art/tree/certificate-2018

[2019-07-16 11:13] trickeydan commented on #110
[309.docx](https://github.com/sourcebots/tasks/files/3396808/309.docx)

[2019-07-16 11:13] #110 closed

[2019-07-16 11:13] trickeydan commented on #141
Email sent by Jenny to SUSU to setup a date

[2019-07-16 11:14] trickeydan commented on #134
Todo in #141

[2019-07-16 11:15] trickeydan commented on #120
Can we clarify the difference between this and #118 ?

[2019-07-16 12:30] kierdavis commented on #120
Maybe this is referring to non-kit software e.g. srcomp?

[2019-07-16 12:32] kierdavis commented on #110
[309.pdf](https://github.com/sourcebots/tasks/files/3397014/309.pdf)

PDF version, courtesy of Google Drive

[2019-07-16 12:36] kierdavis commented on #100
Great, thanks Jack :+1:

[2019-07-16 12:58] jcwilliamson commented on #94
Has this been done yet? Or do we still need to email Isolutions

[2019-07-16 13:16] kierdavis commented on #114
I think at least a couple of our volunteers have cameras - it might be worth sending communication round to see if anyone is interested in bringing theirs and taking some photos.

[2019-07-16 13:49] trickeydan commented on #115
We won't know what type of markers we are using until 27th July when the kit is frozen.

[2019-07-16 14:38] trickeydan commented on #100
I think we can close this ticket now as it has been agreed.

[2019-07-16 14:38] #100 closed

[2019-07-16 14:38] trickeydan commented on #94
Son is on it, hence the `ECS` label

[2019-07-16 14:40] trickeydan commented on #138
I think it'd be nice to have them on decent paper or card. I believe we've ordered 500 sheets of card, which should include enough for that.

I recall issues with the card in the isolutions printers last competition. @RealOrangeOne Are you able to confirm this issue?

[2019-07-16 16:09] JennyLouise commented on #137
Nice, I'm happy to leave the designing to you if you want, I can just print them. I'm hoping to print most stuff the weekend before the kids arrive, but can do the certificates later in the week

[2019-07-16 16:15] JennyLouise commented on #19
Met with Joyce and Marketing.
We have

 - 30 USBs and 82 charging bands in a bag under my desk at Boldrewood that I can bring to the cupboard monday afternoon

 - 25 mugs in a box in Joyce's office, @Tyler-Ward can I borrow the cupboard key and use a trolley or something similar to shift them over to our cupboard on level 4? Joyce isn't around on the 9th for us to pick them up and take them straig

[2019-07-16 16:22] JennyLouise commented on #114
I've been told to email feps-marketing@soton.ac.uk to organise an ECS photographer visit and/or news story. We should make more plans for photography than that, but it's a start

[2019-07-16 19:16] joe9599 commented on #138
We did have problems printing on card in L2, for SR but I think we found a setting that worked

[2019-07-16 20:10] RealOrangeOne commented on #138
The issue was more around the speed at which you print. Either you print 1 page at a time, or you slow the print settings down so it prints each page slower.

All the token markers for SR were printed with ECS printers, and they came out fine!

[2019-07-18 15:20] JennyLouise commented on #115
I assume we'll need those before the weekend of the competition though? I'm away from the 27th July - 4th August. I can print cube and arena markers on the 5th if that's helpful, if they're needed before then then someone else will have to do them.

[2019-07-18 15:21] JennyLouise commented on #141
I sent an email to events@susu.org but haven't got a response yet

[2019-07-18 15:22] JennyLouise commented on #135
Duplicate of #115

[2019-07-18 22:20] Adimote commented on #63
First email sent, we should get a quote in response, which we then accept and put in a purchase order through the uni

[2019-07-19 21:59] Adimote commented on #57
I think this task describes transcribing it to a google calendar

[2019-07-19 22:04] Adimote commented on #115
We could just print both kinds of markers though?

[2019-07-19 22:29] Adimote opened #144 "Robot building presentation (Monday morning, part of the intro)"
We typically have a presentation on 'how to build your robot', which includes safety, tips, and tricks.

This is part of the SourceBots intro presentation on the Monday, which is scheduled to last an hour

[2019-07-19 22:35] Adimote commented on #103
Looking at the ratings for last year, it seems they forgot to put a question for the programming workshop. However it's worth noting the python workshop was the lowest of all workshops in 2017 (70% vs 72%ish for Mechanical and 74%ish for Electronics), and both other workshops dropped to 71% in 2018

[2019-07-20 10:30] RealOrangeOne commented on #103
umwhut?

I'd be interested in hearing what about the workshops wasn't liked. I ran the workshops in 2017 and 2018. The primary issue was that we didn't have much for those who already knew python besides "Here's a simulator", which isn't really ideal. I don't know what extensions we can do for those who already know python, besides maybe getting them to do some arduino stuff?

[2019-07-20 11:11] PeterJCLaw commented on #103
Some thoughts on more advanced things we could extend the programming workshop towards:
- arduino (as mentioned):
  - potentially making use of a sensor which was created in an earlier workshop
  - manually program the arduino to do PWM. Clearly not actually useful, but could be a fun challenge and has obvious output (which I personally find make any challenge more fun)
- some sort of interactive

[2019-07-20 11:27] Tyler-Ward commented on #137
For info the we have ordered A4 card stock for the certificates and will be using white postal envelopes for the awards presentation cards which will want printing on and on the cards inside which we can cut out of the A4 sheets.

[2019-07-20 11:29] Tyler-Ward commented on #10
The PCBs have been ordered, we now need to order the components @jcwilliamson can you provide a list of parts to order to build the boards and we can send that off to Son

[2019-07-20 11:30] Tyler-Ward commented on #19
If you are around on monday i can give you the key then

[2019-07-20 11:43] jcwilliamson commented on #10
I'll take care of it this evening.

On Sat, 20 Jul 2019, 12:29 Tyler Ward, <notifications@github.com> wrote:

[2019-07-20 15:28] Adimote opened #145 "Get USB Sticks"
Joyce doesn't have any ECS USB Sticks this year, so we need to go buy some. These are preferably branded, but if it's expensive we can just stick with cheap unbranded ones.

[2019-07-20 16:43] Adimote commented on #40
@JennyLouise has made designs and put them in the drive, (Thanks Jenny!)
They just need ordering!

[2019-07-21 00:10] Adimote commented on #106
I've done the majority of the work for the Friday now, I don't think its worth scheduling volunteers for the rest of the week as it really should be just that everyone defaults to Lvl 2 labs, unless the cube contingency asks for more people.

Here's the schedule:
https://docs.google.com/spreadsheets/d/1I4kc3PxRiNX85NAW5Gpr84YNtAHk1YM2GYPJRwxmELQ/edit?usp=sharing

[2019-07-21 00:13] Adimote commented on #106
I need to get feedback from people as quite a few roles are filled just by people who happened to be free, also there's no head judge right now (because I'm not sure who is owning the rules)

[2019-07-21 06:59] jcwilliamson commented on #10
@Tyler-Ward i've done it now, where would be the best place to put it?

[2019-07-21 08:44] trickeydan commented on #115
This might be the right solution here.

[2019-07-21 08:45] trickeydan commented on #10
In the google drive, in the latest order sheet.

[2019-07-21 08:46] trickeydan commented on #106
I'm very concerned about people just drifting over to the cube like last year.

[2019-07-21 08:47] trickeydan commented on #145
We will have ~40 USB Sticks already.

[2019-07-21 09:01] jcwilliamson commented on #10
breaks.

At least 25

[2019-07-21 16:42] Adimote commented on #106
I don't think we need to schedule to stop that, we can just be aware of it and tell cube people to tell extras to go back to the labs

[2019-07-21 16:45] trickeydan commented on #106
I distinctly recall volunteers refusing to return last year when I went over to get them. How can we prevent this from happening again?

[2019-07-21 16:50] Adimote commented on #106
We can allocate a 'cube team' who are the only people who can stay at the cube, everyone else must go to the labs and help students unless they're called over for specific tasks

[2019-07-21 16:58] Adimote commented on #106
(I guess we can also include this info in a briefing email)

[2019-07-21 16:59] Adimote commented on #145
Cool, so we need to order 50ish more so every student has one, assuming we want to have one each?

[2019-07-21 17:02] Adimote commented on #145
Marking this 'SHOULD' as we can handle running a summer school with 40 sticks

[2019-07-21 17:07] Adimote commented on #8
Any update on this? From what I've heard, a formal request was made

[2019-07-21 17:12] trickeydan commented on #8
A formal request was made. The reply requested money, so we explained how our funding works. Another reply said that we probably wouldn't need to pay and I've heard nothing since.

[2019-07-21 17:18] Adimote commented on #70
about to send one email to Dave Oakley about all things we want to borrow (laptops, screens, and trolley)

[2019-07-21 17:19] Adimote commented on #86
about to send one email to Dave Oakley about all things we want to borrow (laptops, screens, and trolley)

[2019-07-21 17:19] Adimote commented on #124
About to send an email to Dave Oakley asking about Trolleys

[2019-07-21 17:21] Adimote commented on #8
Ah that's good news! We should probably prod them though to make sure the kits are shipped soon

[2019-07-21 17:22] Adimote commented on #144
Andy Busse says he's up for doing this, I think the entire presentation needs a bit clearer scheduling however. It's a 1hr slot, so we need to make sure we fill it.

[2019-07-21 17:24] trickeydan commented on #144
I can't find a Github account for Andy, I'm guessing that he isn't in the org?

[2019-07-21 17:32] Adimote commented on #144
Invited him now,

//TODO add @andybusse to this

[2019-07-21 17:34] Adimote commented on #131
I had a thought that we should tell them it's up to them to get the most from the summer school, as the summer school is very free-form, and at university you shouldn't expect to be spoon-fed and still do well.

[2019-07-21 17:35] Adimote commented on #127
Don't think I can make an interactive schedule, I can for sure export it to an auto-updating webpage

[2019-07-21 17:52] jcwilliamson commented on #114
Do we need to arrange media consent for this? Or has the trust handled that.

[2019-07-21 18:04] trickeydan commented on #114
Media consent for students is handled, and will be covered in the volunteer briefing at the start of the week.

Media consent for volunteers was covered by the signup form.

[2019-07-21 18:04] trickeydan commented on #127
Relevant: #80

[2019-07-21 18:06] trickeydan commented on #9
Vision is now working :tada:

Thanks to @RealOrangeOne for his efforts on this.

[2019-07-21 18:06] #9 closed

[2019-07-21 18:07] trickeydan commented on #85
#141 will cover this

[2019-07-22 18:17] Dasepho commented on #81
I'm happy to go through the document in the next few days. Is there a link to the doc from last time around?

[2019-07-22 18:27] JennyLouise commented on #137
@ninjafrostpn are you okay taking over the design task?

[2019-07-22 18:28] #145 closed

[2019-07-22 18:32] Adimote commented on #8
Jake will prod the SR trustees

[2019-07-22 18:33] Adimote commented on #143
I'll close this as it's basically a duplicate of #103

[2019-07-22 18:33] #143 closed

[2019-07-22 18:33] Adimote commented on #103
Two sections:
- "How to python"
- "How to use the robot API"

[2019-07-22 18:40] #46 closed

[2019-07-22 18:41] #45 closed

[2019-07-22 18:48] Adimote commented on #23
Drills would be nice

[2019-07-22 18:48] JennyLouise commented on #141
@Tyler-Ward do you have a better email address for me to get ahold of the right people in susu?

[2019-07-22 18:50] Adimote commented on #21
Arrange with SUSU, probably part of #85

[2019-07-22 18:52] Dasepho commented on #81
Suggestion of modifying the arena for the game this time. Discussion to be done at Hackday weekend, blocking writing of the final doc.

[2019-07-22 18:55] JennyLouise commented on #109
When and where is the formal meal?

[2019-07-22 18:58] RealOrangeOne commented on #127
This is now done, just needs distributing

[2019-07-22 18:58] #127 closed

[2019-07-22 19:02] RealOrangeOne commented on #123
Closed in favor of #125

[2019-07-22 19:02] #123 closed

[2019-07-22 19:02] Adimote commented on #113
This is a talk by the head judge on one of the later days

[2019-07-22 19:03] sedders123 commented on #109
According to the schedule (#110) it is in the B38 Terrace Restaurant on Thursday 15th 19:30 till 21:00 (though there are drinks beforehand from 19:00).

[2019-07-22 19:07] Dasepho commented on #101
Have been ordered. Awaiting arrival and processing

[2019-07-22 19:16] Adimote opened #146 "Fix issues with scheduling"
- [ ] Intro room too small
- [ ] SUSU catering outside of SUSU
- [x] Check they're confirming the '???'s

[2019-07-22 19:24] JennyLouise commented on #109
Thanks, I'll send an email reminding people about the after-event meal #107 and allowing people to sign up for the formal meal

[2019-07-22 19:25] Adimote opened #147 "Ensure SR purchases arena materials"
Probably at the same time as #8

[2019-07-22 19:28] Adimote commented on #116
This year teams won't get a USB stick each, there are a bunch of nice-to-have's

[2019-07-22 19:32] sedders123 opened #148 "Check with Son about remaining budget"
Ask Son about how much of the budget remains.

[2019-07-22 20:34] Adimote commented on #133
Dave Batt has replied, he says Pycharm EDU is installed on all machines, I'm pretty sure that's good enough.

[2019-07-22 20:34] #133 closed

[2019-07-22 20:38] kierdavis commented on #145
Does the closure of this issue mean that we've ordered more USB sticks, or that we've decided we're going to run with just the ones we've already got?

[2019-07-22 21:01] trickeydan commented on #145
We're going to run with the current ones

[2019-07-22 21:22] kierdavis commented on #106
It would be nice if we could rotate volunteers between labs and the cube, so they can get a taste of both sides of the summer school, and so that no one is stuck in a position they dislike with no opportunity to switch.

Perhaps a good compromise is to have a different "cube team" for each day?

[2019-07-22 21:28] trickeydan commented on #106
We need to poll people on what they prefer to do. Some people won't want to be in the cube, or may be unable to do lifting etc. Equally, some may not like labs

[2019-07-23 02:05] tshoang commented on #140
Paul Lewin has agreed to give the closing address and presentation of prizes.

[2019-07-23 02:09] tshoang commented on #104
I produced an initial schedule for the tours of Clean rooms, TDHVL and the UAV labs. Waiting for confirmation from different parties (they have agreed to help, just need to agree on the schedule).

[2019-07-23 02:11] tshoang commented on #102
I managed to have confirmation from Denis and Jon. Still looking for a third speaker (probably have to ask Kirk, but he said that he is very busy).

[2019-07-23 06:33] #140 closed

[2019-07-23 09:44] tshoang commented on #70
@Adimote Have you discussed with Dave regarding these issues?

[2019-07-23 11:05] tshoang commented on #112
I have asked Smallpeice to check with Hospitality. Can I know the rough number of parkings necessary for  the volunteers?

[2019-07-23 12:12] Adimote commented on #70
Yes I sent an email to Dave oakley

On Tue, 23 Jul 2019, 11:44 Thái Sơn Hoàng, <notifications@github.com> wrote:

[2019-07-23 13:52] RealOrangeOne commented on #8
We should get an answer on this Thursday evening, as this is when the trustees will be meeting.

[2019-07-24 17:30] joe9599 opened #149 "Work out venue layout"

[2019-07-24 17:33] joe9599 commented on #149
We need to work out the layout for the competition, it would be very tight if even possible to have 16 teams, help desk and front/welcome/reception desk (as well as somewhere for volunteers and supervisers to have a break, or just be when not needed) all in bar 2, so we almost certainly need to book level 3,

[2019-07-24 17:34] joe9599 commented on #149
We should try and get this figured out on saturday

[2019-07-25 20:19] RealOrangeOne commented on #8
The trustees have agreed to loan the kit, for free, pending the signature of a loan agreement, and a list of the specific items required (and quantities, obviously).

As the email was addressed to @trickeydan, and the loan agreement is between SRO and SR (whether this is correct is a discussion for some other day), I defer the final execution of this ticket to @trickeydan.

[2019-07-26 20:55] kierdavis commented on #57
Has this been done? I vaguely remember hearing something about work being done on it in slack recently.

EDIT: yep, @jcwilliamson did this last week.

Calendar link: https://calendar.google.com/calendar?cid=aG5yMzF2NnB0aW9xbWk5ZW10MmVvZTY2bWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

Relevant slack conversation: https://sourcebots.slack.com/archives/CD93VALGL/p1563573760014000

Might be good to get a se

[2019-07-26 21:00] kierdavis commented on #129
@Tyler-Ward am I right in thinking that you've made some of these before for previous Smallpeice/SR events?

[2019-07-26 21:18] jcwilliamson commented on #57
@kierdavis sorry, that was my bad, I should have updated this issue.

[2019-07-27 13:38] trickeydan commented on #108
Duplicater

[2019-07-27 13:38] RealOrangeOne commented on #108
This is actually for the weekend after, rather than tearing down the arena venue.

[2019-07-27 13:41] RealOrangeOne commented on #63
A fallback for this might be to use the SR wooden arena, although we'd need to enquire about this before hand.

This would also require hiring crowd barriers

[2019-07-27 13:42] RealOrangeOne opened #150 "Sort out the arena"
Related to #63. If we can't get scaffolding, we need a backup.

SR have a wooden arena which could work, but we'd need to ask for it (likely as part of #8 )

[2019-07-27 13:48] RealOrangeOne commented on #10
Components need ordering

[2019-07-27 13:50] RealOrangeOne commented on #121
If we don't do this, we need a plan for the alternative.

[2019-07-27 14:35] trickeydan commented on #38
![aww-board](https://user-images.githubusercontent.com/7862359/61995692-95169400-b083-11e9-905a-fba22da2b533.png)

Things needed:

- Copper Tape
- Stage Decking (#141 )
- Tokens (Boxes and card purchased)
- Coloured Tape (Purchased)
- Hardboard to face stage decking
- Stickers to mark the random positions. (4 colours, two per position)

[2019-07-27 14:59] trickeydan commented on #149
![image](https://user-images.githubusercontent.com/7862359/61995991-1f142c00-b087-11e9-88b3-e6cbf49f5fa7.png)

Based on this, but:

- move the teams near the stairs to the area by the large fire escape (not in the red area), replacing that area with helpdesk / reception.
- Don't mark out pit boundaries
- Possibly make a testing area top right corner of the cube
- Encourage teams to use Bar 3 / out

[2019-07-27 15:16] joe9599 opened #151 "Change Electronics labs to add and fix metallic tape"
the labs dont mention metallic tape any more, the new game needs metallic tape, the old metallic tape section needs to be fixed e.g. the bit about using it as a switch needs some form of debouncing

[2019-07-27 15:16] trickeydan commented on #81
![image](https://user-images.githubusercontent.com/7862359/61996038-d01ac680-b087-11e9-8ecf-c43e4e54f609.png)

## _Scavengers_

- Robots start as usual in starting zones. Orientation and position inside the starting zone can be specified by competitors.
- Teams must get tokens placed in pseudo-random locations into their allocated scoring zones.
- For each token in their scoring zone, a team gets

[2019-07-27 15:27] sedders123 commented on #141
Things marked as needed:
 - Fire Extinguishers
 - Scaff grounding
 - Large TV's (Score Display)
 - Audio Mixing Desk
 - Effects Lighting
 - Lighting Desk
 - PC Audio Feed
 - Wash Lighting
 - Wireless Mics
 - Confetti Cannons
 - Rope Barriers
 - Tables + Chairs
 - Power Ditribution
 - Big Fans

[2019-07-27 15:33] joe9599 commented on #121
Is the alternative not just put the sensors into the team kits rather than put them in a sensor kit in a team kit

[2019-07-27 15:36] sedders123 opened #152 "Order List 6 🔥"
- [x] 18L RUBs
- [x] Servo Boards
- [x] Cardboard
- [x] Drills
- [x] Drill Batteries
- [x] Drill Battery Chargers
- [x] Folding Boxes/Crates
- [x] Radios (@trickeydan has acquired an invoice)
- [x] T-Shirts
- [ ] Desk Fan
- [x] [Copper Tape](https://www.amazon.co.uk/10mm-20mm-Copper-Slug-Tape/dp/B01G971VGY/ref=sr_1_7?keywords=copper+tape&qid=1564246595&s=gateway&sr=8-7)
- [x] [Coloured stickers](h

[2019-07-27 16:23] PeterJCLaw opened #153 "Create score-entry mechanism"
We need:
- [x] paper sheets for recording the game-state after each match https://github.com/sourcebots/compstate-smallpeice2019/pull/3
- [x] updates to the score-entry UI to match https://github.com/PeterJCLaw/srcomp-scorer/pull/3
- [x] a data format for the compstate https://github.com/sourcebots/compstate-smallpeice2019/pull/1

[2019-07-27 16:26] PeterJCLaw commented on #51
This was blocked on knowing the game and numbers of teams, I don't think this is blocked any more.

[2019-07-27 16:31] RealOrangeOne commented on #91
I've created a public folder in the SP2019 drive folder, which can be used to public files as necessary.

The Public share link (read only): https://drive.google.com/drive/folders/1RsuZ5gVOAb6NWUDxjrXn0hPvp-PP9Kre?usp=sharing.

Any slides created by us can be entered into there shortly before the presentation. We will need to reach out to lecturers to provide their slides.

This link can be used b

[2019-07-27 16:38] PeterJCLaw commented on #69
Since 16 is a power of 2 I think we should just use the automatic knockout support within SRComp. The main reason we've not done that in the past is that it's not great at ensuring fair setups around byes, however I'm reasonably confident it's fine if you have a power-of-two number of teams.

[2019-07-27 16:39] PeterJCLaw commented on #68
@prophile could you run your league scheduling solver thingy for 16 teams and spit out a schedule?

[2019-07-27 16:51] PeterJCLaw commented on #70
Regarding placement, here's what I'm currently assuming:
- four in the arena corners (modulo some shenanigans around #150 and the possible lack of scaff)
- one by the staging area for the badger (probably mounted on the arena if possible, modulo #150)
- two general information screens, just inside and outside the Cube doors respectively

For networking this is mostly easy -- run long cables from t

[2019-07-27 17:02] PeterJCLaw commented on #70
Hardware:
- we apparently have plenty of network cabling
- we have 6 display driver Pis with PSUs, SD cards & mounts
- SUSU will be providing power distro (cc #85)
- SUSU will be (hopefully) providing the _large_ screens (cc #85)
- ECS will be providing the normal sizes screens (we need at least 5)

[2019-07-27 17:04] PeterJCLaw commented on #71
Hardware:
- screens are covered (see https://github.com/sourcebots/tasks/issues/70#issuecomment-515699015)
- I'm happy to use my Pi 3 as the compbox

It would be handy to have a monitor for the compbox machine, though non-essential.

I'll probably also configure a public facing compbox as I have in the past.

[2019-07-27 17:19] sedders123 commented on #23
Tools have been added to Order List 6 (#152 )

[2019-07-27 17:19] #23 closed

[2019-07-27 17:24] Tyler-Ward commented on #148
Our calculations are correct

[2019-07-27 17:24] #148 closed

[2019-07-27 17:27] Tyler-Ward commented on #129
https://drive.google.com/file/d/1bIqLW41hUx7TAUbGBkqpm8-Wm7t4GAqs/view?usp=sharing
https://docs.google.com/spreadsheets/d/17fCCiSf0lpQW2PAJGrbuKJUyFhOQsftT/edit#gid=2038790835

[2019-07-27 17:28] Tyler-Ward commented on #141
Also see https://docs.google.com/document/d/10Pwl5OvKiICGMxnMQKb0tLM4-nDNfglDuNqyYCCsGYU/edit for the cube hit hire list

[2019-07-27 17:31] Tyler-Ward commented on #84
@trickeydan is there any more that needs to be done for this

[2019-07-27 17:32] PeterJCLaw commented on #62
Do we know how many batteries and chargers we have working?

[2019-07-27 17:35] PeterJCLaw commented on #62
Ah, just spotted that we apparently (https://github.com/sourcebots/tasks/issues/8#issuecomment-497327914) have enough.

[2019-07-27 18:02] Tyler-Ward commented on #24
Arena planks are 70mm wide

[2019-07-27 18:04] drn05r commented on #24
[sr_wood_20190727.xlsx](https://github.com/sourcebots/tasks/files/3438452/sr_wood_20190727.xlsx)

Here is an excel spreadsheet of the wood in the cupboard.  All meaurements are in mm.  There are a few small pieces of timber, ply and fibreboard that was not measured.

[2019-07-27 19:32] trickeydan commented on #84
I think we can close this

[2019-07-27 19:32] #84 closed

[2019-07-27 23:07] trickeydan commented on #24
This has been done. Thanks @drn05r :)

[2019-07-27 23:07] #24 closed

[2019-07-27 23:08] trickeydan commented on #149
Ok, so I think @RealOrangeOne used my account to comment the above. Please pass queries to him, not me :P

[2019-07-27 23:09] trickeydan commented on #149
I think this has been worked out enough to no longer be blocking. A decent map is definitely a separate issue

[2019-07-27 23:09] #149 closed

[2019-07-27 23:09] trickeydan commented on #38
See #152

[2019-07-27 23:09] #38 closed

[2019-07-27 23:10] trickeydan commented on #120
It works. I'm going to leave this open for now as there is more testing I want to do.

[2019-07-27 23:11] trickeydan commented on #114
I don't think there is much more for me to do on this.

[2019-07-27 23:13] trickeydan commented on #150
@RealOrangeOne Please could you add some more information on what this ticket is about?

[2019-07-27 23:13] trickeydan commented on #147
@RealOrangeOne Are you alright to talk to the trustees about this?

[2019-07-27 23:14] trickeydan commented on #81
~Argh more usage of my account!~

[2019-07-28 07:38] WillB97 commented on #141
What's the stage deck being ordered for?

[2019-07-28 08:07] trickeydan commented on #141
See #38

[2019-07-28 08:08] trickeydan commented on #129
I think it's probably good enough to just reuse those.

This should probably be added to #115

[2019-07-28 08:16] trickeydan commented on #121
Another alternative that has been discussed is just putting them in the middle of the table in labs, like usual.

[2019-07-28 08:18] trickeydan commented on #57
I have checked and it looks correct.

[2019-07-28 09:05] jcwilliamson commented on #77
This could probably be done the weekend before, it doesn't seem like a long job.

[2019-07-28 09:54] RealOrangeOne commented on #147
I'm happy to handle the trustee comms, but I need an itemized list of exactly what we need from them (something which i'm not owning)

[2019-07-28 10:31] kierdavis commented on #129
Done.

[2019-07-28 10:52] kierdavis commented on #91
I think everything listed in #115 needs to end up in that folder.

[2019-07-28 11:14] Tyler-Ward commented on #24
now on google docs for editing https://docs.google.com/spreadsheets/d/1uDQTWzklu0lDSMTtkIVEPOFIhDJw13x80aKt6NLL_mA/edit#gid=0

[2019-07-28 14:19] trickeydan commented on #129
I think we can safely close this as long is it is printed, which is tracked elsewhere.

[2019-07-28 14:19] #129 closed

[2019-07-28 19:18] trickeydan commented on #146
Forwarded issues to Son. I suspect they're likely a non-issue or have been handled already.

[2019-07-28 19:18] #146 closed

[2019-07-28 19:22] trickeydan commented on #40
I'm forwarding the order details to ECS.

[2019-07-28 19:23] trickeydan commented on #110
[Draft Programme 2019- IN PROGRESS_v2(SH).docx](https://github.com/sourcebots/tasks/files/3439501/Draft.Programme.2019-.IN.PROGRESS_v2.SH.docx)

As a result of #146, we have a slightly more up to date version.

[2019-07-28 19:29] trickeydan commented on #40
Forwarded to ECS

S | 4
-- | --
M | 13
L | 5
XL | 0
XXL | 1

Plus 1S, 2M, and 1L spares if we have money

[2019-07-28 19:29] #40 closed

[2019-07-28 19:31] RealOrangeOne opened #154 "Organise Tinker Time"
We need some time in the arena for teams to practice in a realistic environment.

Some good documentation on how to do this is in the SR runbook: https://srobo.github.io/runbook/competition/team-support/tinker-time/

In previous years, this has been handled by a google sheet. This can cause overheads and reliance on devices. Generally it's easier to simply use a whiteboard or paper to document thi

[2019-07-28 19:34] trickeydan commented on #112
According to the volunteer list, there are currently two `Maybe` and one definitely needing parking.

Of those, two have requested accomodation, so shiuld have parking there.

@RealOrangeOne are there more people than I know about?

[2019-07-28 20:22] RealOrangeOne commented on #136
Look like this is the "SourceBots: Competition Briefing" talk at 9am on Friday. I've also covered doing something on Thursday morning, when teams are first shown the cube.

https://hackmd.io/@cip1G_wQS4mr8THvluJvlQ/Hk9pZOifr/edit

Review appreciated.

[2019-07-28 21:05] RealOrangeOne commented on #144
I've looked at the schedule, and the "How to build your robot" presentation is what's defined in the schedule, so is actually a "Must".

#131 also needs to be handled in the same presentation. Whether this is done by the same person / people, I don't know. I'm happy to do any / all parts if needed :+1:

[2019-07-28 21:07] RealOrangeOne commented on #96
This is actually a duplicate of #144 and #131

SourceBots don't handle the overall presentation, we simply define the rules (#131) and instructions on how to build a robot (#144)

[2019-07-28 21:10] RealOrangeOne commented on #131
This needs to be done as part of #144. I don't know whether it's worth having a separate ticket to track this, as it needs to fit in the same hour window.

[2019-07-28 21:16] RealOrangeOne commented on #112
I have no idea who needs parking, all I know is that _I_ need it.

Considering the maximum number of people who requested and need parking is 3, It's probably fine to ensure there's at least 3 spaces. I'd be surprised if requiring an extra space or 2 at halls is going to be a massive inconvenience.

Generally parking is just handled by halls, but I don't know if that's something we need to pre-all

[2019-07-29 11:47] kierdavis commented on #57
The schedule (#110) has since been updated so this could do with another review.

[2019-07-29 12:09] kierdavis commented on #57
* [ ] Monday 10:25: intro talk (consisting of Housekeeping, Smallpeice welcome address, ECS welcome address, and How To Build Your Robot) is now all in 46/2003
* [ ] Tuesday 8:55: "walk to 58/1007" should now be "walk to 46/2003"
* [ ] Tuesday 9:00: academic talk is 46/2003 specifically
* [ ] Tuesday 13:00: electronics workshop is in 59/2213
* [ ] Tuesday 16:30: programming workshop is in 59/L3 la

[2019-07-29 16:45] trickeydan commented on #152
All orders sent.

I don't know where there is a desk fan on here..

[2019-07-29 17:38] Adimote commented on #63
I didn't get any positive answers from my initial round of emails, I'll be calling some companies tomorrow

[2019-07-29 17:49] Adimote commented on #124
Prodded Dave Oakley because he's terrible at replying to emails

[2019-07-29 17:49] Adimote commented on #124
didn't mean to close.

[2019-07-29 17:50] Adimote commented on #70
Prodded Dave Oakley because he's terrible at replying to emails

[2019-07-29 18:36] trickeydan commented on #141
@Adimote is going to phone tomorrow

[2019-07-29 18:40] trickeydan commented on #63
If some other people could call too that would be great.

I'll try and call a couple in my lunch hour tomorrow

[2019-07-29 18:42] trickeydan commented on #153
@PeterJCLaw This is blocked on #81, but are you able to work on this?

[2019-07-29 18:43] #152 closed

[2019-07-29 18:45] Tyler-Ward commented on #147
https://docs.google.com/spreadsheets/d/1uDQTWzklu0lDSMTtkIVEPOFIhDJw13x80aKt6NLL_mA/edit#gid=524286065
Is a list of what we have

[2019-07-29 18:47] Tyler-Ward commented on #147
I believe we will need 10*2m lengths of 70mm by 20mm planks

[2019-07-29 18:48] trickeydan commented on #137
https://github.com/sourcebots/art

[2019-07-29 18:48] trickeydan commented on #137
Date needs updating, otherwise good

[2019-07-29 18:50] trickeydan commented on #125
We should base this off the SR lists

[2019-07-29 18:53] trickeydan commented on #118
@PeterJCLaw @kierdavis

To my understanding you are handling the SR side of providing the kit. Are you planning to test the kit beforehand?

[2019-07-29 18:54] trickeydan commented on #117
A tad late now.

[2019-07-29 18:54] trickeydan commented on #116
They need to be FAT32 formatted.

[2019-07-29 18:54] trickeydan commented on #116
We have the USB drives.

[2019-07-29 18:55] trickeydan commented on #114
We think this is all done.

[2019-07-29 18:55] #114 closed

[2019-07-29 18:56] #112 closed

[2019-07-29 18:57] trickeydan commented on #109
@JennyLouise Any updates?

[2019-07-29 18:58] trickeydan commented on #108
We need to enumerate tasks and assign them to a milestone

[2019-07-29 18:58] trickeydan commented on #107
@JennyLouise Any updates?

[2019-07-29 18:59] trickeydan commented on #105
@Adimote is probably doing this in the air currently FYI

[2019-07-29 19:00] #104 closed

[2019-07-29 19:02] trickeydan commented on #98
Been ordered.

[2019-07-29 19:02] #98 closed

[2019-07-29 19:03] trickeydan commented on #95
Kajetan is prodding Son

[2019-07-29 19:05] trickeydan commented on #94
I have prodded Son

[2019-07-29 19:05] trickeydan commented on #93
We have the boxes. Needs #115 and volunteers.

[2019-07-29 19:07] trickeydan commented on #80
Relevant to docs

[2019-07-29 19:07] trickeydan commented on #77
@Tyler-Ward has ordered a *LOT* of glue apparently.

[2019-07-29 19:08] trickeydan commented on #62
This has been done

[2019-07-29 19:08] #62 closed

[2019-07-29 19:09] trickeydan commented on #55
The boards have arrived and need building. Waiting on components.

[2019-07-29 19:10] trickeydan commented on #36
We're binning it.

[2019-07-29 19:10] #36 closed

[2019-07-29 19:11] trickeydan commented on #20
This has been submitted.

[2019-07-29 19:11] #20 closed

[2019-07-29 19:12] trickeydan commented on #10
The components have been ordered.

[2019-07-29 19:14] trickeydan commented on #5
All boards have been ordered now.

[2019-07-29 19:33] tshoang commented on #112
I have asked Hospitality for 3 parking spaces, most likely will be in Avenue Campus.

[2019-07-29 19:36] trickeydan commented on #137
Dan is going to have a look at this.

[2019-07-29 19:37] trickeydan commented on #125
https://docs.google.com/spreadsheets/d/13jDdRkZxgKdROVau9VaZiKZbiDV34_rlcZhWcpzQZO8/edit#gid=0

[2019-07-29 19:39] PeterJCLaw commented on #153
I'm not sure this is blocked on the rules per-se, as long as we're certain about what the game is and how the scoring works then I think this can progress.

[2019-07-29 19:41] PeterJCLaw commented on #118
This is new to me.

[2019-07-29 20:14] RealOrangeOne commented on #147
A prelim email has been sent to the trustees, staging we need 10 planks, and asking whether they're still ok to provide the wood, and then we'll provide a delivery address.

The email has sro@soton and Tyler CC'd in.

2m battens are logistically annoying (they're too large for me to drive down), so will need to be delivered somewhere in Southampton, ideally the uni.

@Tyler-Ward is SUSU able to ac

[2019-07-29 21:36] RealOrangeOne commented on #147
The trustees have approved the wood order.

The closest I can find is https://www.wickes.co.uk/Wickes-Sawn-Kiln-Dried-C16-Timber---45-x-70-x-2400-mm/p/167112

If someone else approves the above link, I'll send it to the trustees for ordering (assuming they plan to order it)

[2019-07-29 21:53] Adimote commented on #63
Here's my list of contacted companies: https://docs.google.com/spreadsheets/d/1-gv1YSWaeBx_7S25lZgV1eRCUk9zXO_WWbuwcwbT7KU/edit?usp=drivesdk best to just check I haven't contacted them already

[2019-07-29 21:56] Adimote commented on #63
Ooh also I've got a model set of things to ask for on the other tab of the sheet

[2019-07-29 22:34] Adimote commented on #112
Just checking, was parking for parents also booked? It seems most of the conversation on this issue is volunteer parking (especially around the 3 spaces)

[2019-07-30 05:08] tshoang commented on #112
Yes, the parents parking was also booked. Just remind me that the 3 parking spaces is for the whole week where the parents parking was only for Friday.

[2019-07-30 06:18] tshoang commented on #95
Can I please have the concrete plan of where and when things need to be moved?

[2019-07-30 06:18] tshoang commented on #86
@Adimote Any reply from Dave?

[2019-07-30 06:19] tshoang commented on #94
A request has been raised with iSolution (with highest priority). Waiting for their reply.

[2019-07-30 07:37] tshoang commented on #94
For the record, the guest account can be ordered (by University members) at the following website (which I did)
https://www.southampton.ac.uk/isolutions/forms/accounts-for-conference-visitors.page

[2019-07-30 11:13] Dasepho commented on #137
cert-gen.py seems to be windows-specific? I might not be much help if that's the case

[2019-07-30 13:20] trickeydan commented on #153
We'll be much more certain on the exact details of the game on Saturday, as @RealOrangeOne plans to write them then I believe

[2019-07-30 14:05] trickeydan commented on #118
In that case, we should assume that SR are not testing and haven't tested the kit until we hear otherwise.

[2019-07-30 14:08] trickeydan commented on #137
Can confirm it currently is, however it should be modifiable pretty easily. Up for a challenge @Dasepho? Feel free to slack me for help / hints

[2019-07-30 15:34] Dasepho commented on #137
Challenge accepted, please see slack :smiley:

[2019-07-30 16:32] joe9599 commented on #137
I have windows, so can try this if you want

[2019-07-30 16:37] Dasepho commented on #137
Don't worry. I stopped it being windows software and made it start being linux software :laughing:

[2019-07-30 16:50] joe9599 commented on #151
This has been merged now

[2019-07-30 16:50] #151 closed

[2019-07-30 19:52] trickeydan commented on #102
I've just spoken to Futureworlds and they can probably come if we need them to do a talk. It'd be better to get Kirk if we can though.

[2019-07-30 19:53] trickeydan commented on #137
:roll_eyes: I'll make it cross platform if I get a chance.

[2019-07-30 20:32] WillB97 commented on #150
For putting the carpet down, it would be useful to have a roll of gaffa tape of a similar colour to the carpet to cover the seam.

[2019-07-30 21:34] trickeydan commented on #150
Our budget closes at midnight, this probably won't be possible. @RealOrangeOne @scorpia any ideas?

[2019-07-31 13:14] Dasepho commented on #137
I've got it all working now, and have updated year and sponsors so I will be ready to generate all the certificates pending a csv with participants names+schools.
Sample:
![Screenshot at 2019-07-31 14-13-27](https://user-images.githubusercontent.com/47758255/62214669-6f4c0080-b39d-11e9-8e66-7be52063146d.png)

[2019-07-31 13:15] Dasepho commented on #137
Going to call this task done and just have #138  to do now

[2019-07-31 13:15] #137 closed

[2019-07-31 14:03] Adimote commented on #141
I've got the facebook details for the guy in charge of tech, will contact him. We still need to arrange for catering however so don't consider this closed

[2019-07-31 14:36] Adimote commented on #63
Here's a quote from RBS Scaffolding: https://drive.google.com/file/d/1-dcF07SXbPdZGoA4ZSdNrxtN_1JpbnUG/view?usp=drivesdk total is £674

[2019-07-31 15:59] tshoang commented on #94
Done. I have obtained 100 guest accounts from iSolutions for the week.

[2019-07-31 16:52] trickeydan commented on #94
Thanks Son.

[2019-07-31 16:52] #94 closed

[2019-07-31 16:55] trickeydan commented on #63
Ok that's significantly higher than we budgeted for I think. @Tyler-Ward can you confirm? I think it was £400ish in the budget based on last year.

[2019-07-31 17:04] Dasepho commented on #125
Much of the sheet is hidden and I'm not privileged or competent enough to access the rest of it. I'm also unsure whether everything needed for SR is needed for SP too?

[2019-07-31 17:48] Tyler-Ward commented on #63
we spent around 176 last year

[2019-07-31 18:31] trickeydan commented on #125
@RealOrangeOne

[2019-08-01 09:28] RealOrangeOne commented on #125
The filter on the sheet has now been removed.

[2019-08-01 12:04] Adimote commented on #141
We've arranged a meeting with him on Friday at 7pm, probably safe to assume it's in the events office on the top floor of the red brick building, but I'll confirm

[2019-08-02 00:04] Adimote commented on #109
Form will be sent out in #105

[2019-08-02 00:05] Adimote commented on #105
Email scheduled to send at 7am

[2019-08-02 00:08] Adimote commented on #70
Dave replied with a 'We probably don't have them, will check tomorrow', to my email which asked for many things, at a best guess he was probably referring to the screens, so we likely need to scrounge together screens from elsewhere

[2019-08-02 00:14] Adimote commented on #124
I'm interpreting 'Transportation Tools' as the ECS powered trolley, is there anything else we need?

[2019-08-02 08:35] Adimote commented on #141
Location will be Meeting room 7, opposite the lift in stags on level 1

[2019-08-02 08:38] Adimote commented on #61
I'm just gonna close this, it's Very unlikely

[2019-08-02 08:38] #61 closed

[2019-08-02 08:38] Adimote commented on #105
Email sent

[2019-08-02 08:38] #105 closed

[2019-08-02 18:10] trickeydan commented on #39
This is quite low priority.

[2019-08-02 18:20] trickeydan commented on #21
George at SUSU has prodded SUSU catering

[2019-08-02 18:21] trickeydan commented on #150
@WillB97 is apparently going to sum up truss and check SUSU's scaff on Tuesday.

I'm assigning this to Will until we know more details.

[2019-08-02 18:23] trickeydan commented on #134
Done!

[2019-08-02 18:23] #134 closed

[2019-08-02 18:24] trickeydan commented on #141
Done! :tada:

[2019-08-02 18:24] #141 closed

[2019-08-02 18:45] trickeydan commented on #86
14 laptops have been arranged from isolutions and will be picked up by @jcwilliamson on Monday.

[2019-08-02 18:45] trickeydan commented on #86
We will still need a few more from Jules, but that has already been set up

[2019-08-02 18:56] trickeydan commented on #70
@jcwilliamson is going to ask Jules if we can borrow a couple from the pile.

[2019-08-02 19:58] RealOrangeOne commented on #147
@trickeydan recommended Totten Timber, which would save on delivery times.

I've enquired for a quote for 12m of https://www.tottontimber.com/product/sawn-softwoods_sawn-timbers/sawn-pressure-treated, which looks to fit what we need.

[2019-08-02 22:08] Adimote commented on #150
We should have a plan B, I'm happy to speak to SR and get a verbal agreement to borrow their wooden arena. We'd need to ensure we rent a van to ship it to/from the SR container (this can happen at the same time as picking up kits) and find a plan for mounting screens and optionally holding back visitors.

[2019-08-02 22:10] Adimote commented on #70
Got confirmation that Dave Oakley won't be giving us any screens

[2019-08-02 22:17] Adimote commented on #86
Nice! Thanks for arranging this!

[2019-08-02 22:41] WillB97 commented on #150
I agree it would be worth picking up the SR arena along with the kits as a fallback plan.

[2019-08-02 22:47] PeterJCLaw commented on #70
Display screens are very much hireable; is it worth looking into that? (i.e: do we have budget capacity?)

[2019-08-02 23:33] trickeydan commented on #70
This should be a last resort as we're going to be over budget on scaff if we get it.

Also the budget has closed. We shouldn't be getting anything else now.

There is a huge pile of new monitors that Jules has bought and hopefully we might be able to borrow some. We'll hopefully know what the next steps are on Monday.

[2019-08-02 23:35] trickeydan commented on #8
The contracts were posted by tracked royal mail on Tuesday, but I have yet to hear if they have been received.

[2019-08-03 08:36] RealOrangeOne commented on #147
We have received a quote for the above order of ~£15.

Once someone else confirms this order is fine, I'll try and arrange getting it to campus. Unfortunately these battens are too large to fit in my car!

[2019-08-03 08:40] RealOrangeOne commented on #8
I've chased this up with Diane.

[2019-08-03 08:49] RealOrangeOne commented on #8
I've received confirmation from Diane that whilst the loan agreement hasn't been received yet (which is odd), she's happy for the kit to be loaned.

(Proof available upon request)

[2019-08-03 10:01] tshoang commented on #70
@trickeydan is right, the budget has closed (I'm afraid that there already are few things spilled over).

[2019-08-03 12:12] RealOrangeOne commented on #119
We probably need a list of things we need to be put in kits _before_ we pack them

[2019-08-03 12:13] RealOrangeOne commented on #116
The drives must be FAT, but they don't need any special software.

[2019-08-03 12:22] Adimote commented on #150
Okay so the main plan right now is to work with the SR arena, with the SUSU arena as plan B and the £645 company as plan C.

Peter highlighted these issues with building the SR arena, I'll answer them inline
- build crowd barriers
  - Hills Road ran with rope crowd barriers for their arena just fine, SUSU has likely enough crowd barriers to cover 2 edges of the SR arena.
- find a mounting situatio

[2019-08-03 12:27] RealOrangeOne commented on #85
This was covered in #141

[2019-08-03 12:27] #85 closed

[2019-08-03 12:27] PeterJCLaw commented on #118
The loan agreement is pretty clear that the kit should be considered as being in an unknown state.

That said, I happen to know that a lot of the kit we'll be using has been tested. Some of the parts I'm suggesting that we borrow have been tested since SR2019, others were tested before that and not shipped. The latter have been in storage for ~10 months, but I think that's probably ok.
(I've a doc

[2019-08-03 12:29] PeterJCLaw commented on #103
@sedders123 what's the status here? (I'm wondering if this is something I can help with remotely)

[2019-08-03 13:23] WillB97 commented on #150
The current SUSU arena design (8.4m x 8.4m internal) is:
![Screenshot 2019-08-03 at 12 29 56](https://user-images.githubusercontent.com/10937272/62412408-aae30680-b5f9-11e9-905e-c90d09b0f17f.png)
this only uses truss available to SUSU as we're a bit close for getting a quote for additional truss.

- 4x 2-way truss corners (H30V-C003)
- 16x 2m truss (H30V-L200)

[2019-08-03 13:29] Adimote commented on #150
That seems pretty good! One big question to solve with the SUSU plan will be how to mount markers onto the truss

[2019-08-03 13:35] WillB97 commented on #150
attach the hardboard to the inner edge of the truss, you can also set the wall height by how much you have the board above the top edge of the truss

[2019-08-03 14:30] sedders123 commented on #103
So far I've taken a look at the Whirlwind tour that we already have and have been making some minor tweaks throughout. I'm also adding a brief section at the end to cover the robot API (ping @trickeydan
 what will that look like? SR/sbot/something else? This also affects whether we're using Python 2 or 3).

We've identified the need for some more intermediate and advanced activities, and I also so

[2019-08-03 15:52] PeterJCLaw commented on #103
:+1: to the idea of guidance for volunteers.

Also like the game idea.

[2019-08-03 16:22] PeterJCLaw commented on #103
I've started on some mentor guidance at https://docs.google.com/document/d/1QEPMs5okJV5En-WPz5YgHt1_6kkx5C85YV-QP3oswQ0/edit

[2019-08-03 16:23] #101 closed

[2019-08-03 16:26] Tyler-Ward opened #155 "Dismantle robots and extract equipment"
we need to dismantle the robots and remove the kit from them

[2019-08-03 16:27] Tyler-Ward opened #156 "Mark damaged equipment for repair"

[2019-08-03 16:27] RealOrangeOne commented on #81
Feedback from @prophile:

- Points for climbing the raised area?
- 16 tokens
- 25mm tokens
- Wall between sections of the arena
- 9x9 arena
- 3m central area

The final 2 are pending a new 9x9 scaffolding arena, to be handled by #150, hopefully.

[2019-08-03 16:28] Tyler-Ward opened #157 "Storage charge batteries"

[2019-08-03 16:28] Tyler-Ward opened #158 "Return loaned SR kit"

[2019-08-03 16:29] Tyler-Ward opened #159 "Find and return kit to labs"

[2019-08-03 16:29] Tyler-Ward opened #160 "Create list of equipment lost during the event"

[2019-08-03 16:30] Tyler-Ward opened #161 "repack boxes for storage"
Also label and seal boxes not needed for a significant time

[2019-08-03 16:31] Tyler-Ward opened #162 "Wipe/dispose of personal data"

[2019-08-03 16:32] Tyler-Ward opened #163 "ensure kit loaned from volunteers is returned"

[2019-08-03 16:37] Tyler-Ward opened #164 "PAT test extension leads"

[2019-08-03 16:38] Tyler-Ward opened #165 "Cut spacers for ultrasound modules"
we need to cut spacers for under the ultrasound boards

[2019-08-03 16:39] Tyler-Ward opened #166 "Repack cupboard"

[2019-08-03 16:41] Tyler-Ward commented on #108
done

[2019-08-03 16:41] #108 closed

[2019-08-03 16:42] Tyler-Ward opened #167 "Return trolleys"

[2019-08-03 17:33] PeterJCLaw commented on #70
I had a very quick look online for hire costs, but the places I found all involve calling them up to get a quote :disappointed:, so I'm assuming we'd need to wait until Monday anyway.

[2019-08-03 17:35] PeterJCLaw commented on #51
https://github.com/sourcebots/compstate-smallpeice2019

[2019-08-04 11:17] kierdavis commented on #116
A nice-to-have would be to put a barebones `main.py` on them to make it clearer to the competitors where to put their code.

[2019-08-04 13:31] trickeydan commented on #103
It should be `sbot` unless something goes very very wrong. I've been stress testing it all morning and it's been good so far. Thus it will be Python 3.7.4 on "SourceOS" (Buster).

I am currently writing the API docs, but I don't think they'll be finished today because I'm tired and have some other things to do also.

I don't think this should go on this ticket, but I'd like to see volunteers mento

[2019-08-04 13:33] trickeydan opened #168 "Charge batteries"
We need to charge the batteries so that students can use them

[2019-08-04 13:39] PeterJCLaw commented on #103
Does this mean that `sbot`'s API diverges from the existing SourceBots API (other than the change to get the servos on a separate board)? I'd thought a major feature was that the competitor-facing API wasn't changing?

If the API isn't changing, is there a reason we can't use the existing docs?

[2019-08-04 13:39] PeterJCLaw commented on #103
Does this mean that `sbot`'s API diverges from the existing SourceBots API (other than the change to get the servos on a separate board)? I'd thought a major feature was that the competitor-facing API wasn't changing?

If the API isn't changing, is there a reason we can't use the existing docs?

[2019-08-04 14:26] Tyler-Ward opened #169 "Charge tool batteries"
We need the tool batteries charged

[2019-08-04 14:32] kierdavis commented on #103
The sbot API doesn't differ semantically from the classic SourceBots API, but there are syntactic differences. For example, `r.motor_board.m0 = 0.5` becomes `r.motor_board.motors[0].power = 0.5`. These changes aim to make the API more consistent as a whole.

[2019-08-04 14:56] trickeydan commented on #103
We're keeping the same text. However, we need to update them anyway because the kit hardware has changed.

[2019-08-04 16:12] kierdavis commented on #5
The supplier (Beta Layout) have provided quotes for the cost of PCB fabrication and assembly. Hopefully they will be sending quotes for the cost of the components very soon.

[2019-08-04 16:19] kierdavis commented on #55
Components have arrived. I think @Tyler-Ward is assembling some or all of these during the week. I'm happy to help finish them off next weekend if needed.

[2019-08-04 16:25] kierdavis commented on #10
I'm happy to help assemble these next weekend.

[2019-08-04 16:27] Dasepho commented on #55
I'm in Soton from Thursday. Let me know if I can help

[2019-08-04 16:30] Dasepho commented on #125
I've looked through the speadsheet, but I don't know where anything currently is or where it should go. Can someone with experience of moving kit help / take this task?

[2019-08-04 16:30] kierdavis commented on #95
Blocked on #125.

[2019-08-04 16:39] Adimote commented on #125
I can help, it seems the sheet has a 'current location' and 'end location' column, so it should be easy to figure out where things are and should go?

[2019-08-04 16:40] Adimote commented on #125
Ah I see, the sheet is for the other competition, derp.

[2019-08-04 16:42] WillB97 commented on #125
also this sheet was last updated when the boxes were moved to level 1 CLS so many of the locations and owners probably want to be updated

[2019-08-04 16:53] WillB97 commented on #125
Would it be worth creating a copy of this sheet so that it can be preserved for future SR competitions?

[2019-08-04 16:55] Adimote commented on #125
Yes

[2019-08-04 16:58] WillB97 commented on #125
New sheet: https://docs.google.com/spreadsheets/d/1D0pRR4PgVsid5xM-ZgDypfciSpfjOW1VJMAfNDONeQg/edit?usp=sharing

[2019-08-04 17:04] Adimote commented on #125
can you give access? I can move it into the SourceBots folder so most people get it too.

[2019-08-04 17:26] Adimote commented on #125
@Dasepho Can you please fill the above sheet with your knowledge of the locations of things? You'll know a lot more than me when it comes to the current state of things

[2019-08-04 17:56] trickeydan commented on #49
Review pending. https://sbot.readthedocs.io/en/api-docs/

[2019-08-04 19:20] joe9599 commented on #10
I believe these need to be done in the reflow oven (for most components) so will need to happen midweek, @jcwilliamson can you confirm?

[2019-08-04 19:22] jcwilliamson commented on #10
Doing them by hand would probably be possible, but the reflow oven would likely make it easier. Which reminds me, I still need to apply for B16 access again.

[2019-08-04 19:25] joe9599 commented on #10
If you can't do it during the week, then I should be able to help next weekend too, although I don't get there until Saturday evening

[2019-08-04 19:27] jcwilliamson commented on #10
I'll apply for access during the week, it might be useful to have it at some point.

[2019-08-05 10:41] Dasepho commented on #125
Unfortunately my knowledge of the locations of things is pretty poor. I'm not in Soton to check where things are and this is my first smallpiece so I don't know which things are supposed to go to the cube / bar 2 / bar 3(?) / zepler level 2 / level 3 / anywhere else.

[2019-08-05 17:36] kierdavis commented on #116
This might be useful: https://github.com/kierdavis/flashusb

[2019-08-05 18:23] PeterJCLaw commented on #70
I may be able to borrow some of these I've got an agreement in principle for 5, though it depends how many are actually available.

[2019-08-05 18:39] Dasepho opened #170 "Book Zepler lvl 2 for the prep weekend"
Email Dave Oakley for booking Zepler level 2

[2019-08-05 18:47] trickeydan commented on #110
[Draft Programme 2019- IN PROGRESS_v3(SH).docx](https://github.com/sourcebots/tasks/files/3468944/Draft.Programme.2019-.IN.PROGRESS_v3.SH.docx)

[2019-08-05 18:48] PeterJCLaw commented on #96
Reopening as this does need planning as a whole, even if the the content is broken into the sub-tasks.

[2019-08-05 18:56] joe9599 commented on #170
This is for the prep weekend (I believe)

[2019-08-05 19:03] Adimote commented on #165
Other Dan will try to design and cut these on thursday. If any problems occur, Joe might be able to.

[2019-08-05 19:14] Dasepho commented on #138
I can generate all the certificates with this year's sponsors etc once I have the .csv with competitors' names and schools

[2019-08-05 19:15] RealOrangeOne commented on #67
I will likely be commentating this match, and leading the prize giving.

[2019-08-05 19:16] Adimote commented on #116
I have an 8 port usb hub, I'll bring it

[2019-08-05 20:15] RealOrangeOne commented on #113
We can implement this by running a Q&A session inside one of the robot hacking sessions. The most likely period is 15:50-16:30.

We can implement this by giving teams some warning to prepare questions, and then get them around 1 area to ask questions. The large table in L3 labs would work well for this!

This doesn't _strictly_ need to be 15:50. It mostly depends when people who know the rules are

[2019-08-05 20:18] RealOrangeOne commented on #147
This is somewhat blocked on #150.

Once we've concluded we need the wood, we can either order it and get it delivered (+£10) (depending on when we realise this), or take some cars down and collect it (what we need is available in store with 0 lead time).

If it's decided the wood isn't needed for this event, it can be ordered as normal and sent to the university. By that time, there's far less urg

[2019-08-05 21:00] Adimote commented on #70
I've email Jules very kindly to ask about borrowing from his supply

[2019-08-05 21:38] Adimote commented on #170
I've sent the email to Dave, Jenny has offered to prod him if he doesn't reply by Wednesday

[2019-08-05 21:44] Adimote commented on #70
I got an auto-reply saying he's doing half-time, might take some time to reply

[2019-08-05 23:24] Adimote commented on #102
Any update on this? @tshoang

[2019-08-05 23:52] Adimote commented on #57
I've updated the calendar to match the latest schedule. I'll close this for now. Please open if there's a 4th draft or a confirmed final schedule

[2019-08-05 23:52] #57 closed

[2019-08-06 06:35] trickeydan commented on #102
[code]

@JennyLouise  How would you feel about doing a talk about your research if Klaus is unavailable? It's quite relevant to the students and I think it would be great. No worries if not, or you don't have time to prepare etc

[2019-08-06 07:50] tshoang commented on #102
While I do have some positive response from Klaus-Peter, I would encourage/prefer if @JennyLouise can give a talk. That would be great.

[2019-08-06 08:34] JennyLouise commented on #102
I can give a talk, when would it be?

[2019-08-06 08:52] tshoang commented on #102
@JennyLouise That will be on Tuesday (13th Aug) 9:00--10:00. What will be the title of your talk?

[2019-08-06 10:32] JennyLouise commented on #102
@tshoang Something like "Learning in the Deep", about using AUVs and ROVs in the deep sea, and using machine learning and computer vision on the images they collect

[2019-08-06 10:49] tshoang commented on #102
@JennyLouise Sounds great. I will update the schedule accordingly.

[2019-08-06 13:23] Adimote commented on #63
Just got the first quote for regular ol' scaff:

24 x 8’ tube            £192.00
22 x 16’ tube          £352.00
6 x 21’ tube            £126.00
14 jacks                   £112.00
14 baseplates         £14.00
75 swivel couplers   £75.00
Load and delivery to site   £50.00
All prices are subject to vat @ 20%

So total is £921 excluding VAT, That's frankly rediculous

[2019-08-06 17:30] trickeydan commented on #102
I think everything's good here then now? I'll close this issue, but feel free to reopen if there are any problems.

[2019-08-06 17:30] #102 closed

[2019-08-06 18:01] WillB97 commented on #30
Is this covered in #125?

[2019-08-06 18:37] trickeydan commented on #30
I think it has a slighter wider scope but am unsure

[2019-08-06 19:20] kierdavis commented on #5
Component quotes are trickling through.

Additionally, they found our polarity diagrams unclear, so I'm redoing them.

[2019-08-07 15:17] tshoang commented on #95
I have contacted Estates and have a meeting with someone tomorrow (Thursday) afternoon to show them the L4 Storage to make sure that there will be no surprise on Monday. Please let me know if any other equipment that need to be moved.

[2019-08-07 16:02] trickeydan commented on #95
The wood in the L4 storage is mostly behind all of the boxes (large sheets of wood) and to the right side of the cupboard. When we run the summer school, pretty much the entire cupboard is emptied, although a fair proportion goes to labs.

[2019-08-07 17:12] kierdavis commented on #5
This has now been postponed until further notice at ECS's decision.

[2019-08-07 17:17] Adimote commented on #21
Any update on this? If not we should send some people to sainsburys

[2019-08-07 17:47] Adimote commented on #21
SUSU is waiting on a purchase order for this

[2019-08-07 17:48] Adimote commented on #21
(So it should be sorted, as it's at the same state as SUSU tech which needs to happen)

[2019-08-07 18:00] Adimote commented on #170
Looks like a planon ticket has been sent to request access to the room. @JennyLouise submitted the ticket

[2019-08-07 18:54] Adimote commented on #170
Jenny will chase up Dave Oakley (and therefore the ticket) tomorrow

[2019-08-07 18:56] trickeydan commented on #49
Done

[2019-08-07 18:56] #49 closed

[2019-08-07 18:57] trickeydan opened #171 "Consolidate Student Documentation"
We have rewritten the API docs for this year and also added the servo board to the kit.

Currently the docs are a little bit scattered between docs.sourcebots.org and sbot.readthedocs.io

We need to consolidate this. In particular, we need to remove the old API docs and preferably make the locations of things more known.

The current suggestion:

- Host sbot.readthedocs.io on kit.sourcebots.org
-

[2019-08-07 18:58] trickeydan opened #172 "Update Kit Build Tutorial"
- s/servo assembly/arduino/g
- add servo board
-Add photos

[2019-08-07 19:01] Adimote commented on #150
**We're going for the SUSU arena design**, as I haven't managed to get any reasonable quotes from scaff companies.

[2019-08-07 19:18] Adimote opened #173 "Check the quantity of pipe connectors for flags"
We need at least 16 (please don't count if we obviously have enough).

[2019-08-08 07:24] RealOrangeOne commented on #171
Can we get _a lot more_ context on what exactly is meant by this ticket.

[2019-08-08 09:53] trickeydan commented on #21
This has been arranged and is now in the hands of finance and SUSU.

[2019-08-08 09:53] #21 closed

[2019-08-08 09:54] trickeydan commented on #120
Further robustness testing of ultrasound is required, but the kit is good to ship.

Downgrading this ticket.

[2019-08-08 09:57] trickeydan commented on #171
Done, I didn't put much as I was just getting it down to not forget it.

[2019-08-08 10:15] kierdavis commented on #171
I dislike the idea of having the docs split across multiple websites. can we not set up whatever is currently building docs.sourcebots.org to pull in sbot as a dependency and integrate its docs into the rest of the site?

[2019-08-08 10:17] kierdavis commented on #172
I don't mind doing this if I've got time, but I don't know where I should put it (relevant: #171).

[2019-08-08 10:43] RealOrangeOne commented on #171
It's not quite that simple to integrate these things. Generally we just want a separation of things. The general intention is to take the docs we have currently, extract anything kit-related, and leave everything else as-is.

We'd keep a link on the sidebar, it'd just be a link to somewhere else.

[2019-08-08 12:29] trickeydan commented on #171
I personally think it'll be much easier to manage if it's all in one place.

[2019-08-08 12:30] trickeydan commented on #172
Thanks Kier :) I'm happy to work on it too, I'd really like to get some photos added as the current tutorial is all text!

[2019-08-08 12:39] RealOrangeOne commented on #171
I don't know if we could use intersphinx to result in a final build which is just 1 site, but assuming we can't move the API docs out the `sbot` repo (maybe we can?), then I don't think we can or should merge them. It's odd to look for changing the docs about the entire event in the API repo

[2019-08-08 13:12] tshoang commented on #95
All went well and the move on Monday morning is all set. The porters start 8am and have their tea break at 10am. All the equipment that need to move from B53 to SUSU need to be in one place (no labels are needed). Base on these requirements, here are some options to consider.
- Start the move from 8am. Need to prepare for the move, e.g., make sure all equipment in one place slightly earlier. If ev

[2019-08-08 14:34] trickeydan commented on #171
We can move them out of sbot, but we will lose the autogenerated API references.

[2019-08-08 15:00] kierdavis commented on #8
Has transporting the kit been organised yet?

[2019-08-08 15:36] kierdavis opened #174 "Organise a retrospective"
We are collecting a list of things to talk about here: https://hackmd.io/@sro/retro

[2019-08-08 15:39] trickeydan commented on #8
I don't feel like this ticket should be assigned to me any longer. Communication has been taken over by @Adimote and @RealOrangeOne afaik.

[2019-08-08 15:39] trickeydan commented on #161
Does this refer to SRO storage or SR?

[2019-08-08 15:41] RealOrangeOne commented on #8
This has *not* been taken over by me! I simply confirmed whether we were ok to proceed with the loan agreement in-transit.

As the loan agreement is between SRO and SR, it makes sense for someone from SRO to be the task owner on this side. Re-assigning @trickeydan until another owner is allocated.

[2019-08-08 15:46] RealOrangeOne commented on #171
Definitely don't want that!

In which case I suggest we go with the plan of simply redirecting a link on the sidebar to the `sbot` docs.

@Adimote is currently the person with DNS access for `sourcebots.co.uk`. As i'm likely the one owning this task, I'm happy to work out the changes we need to make, assuming I can get the `CNAME` record details off @trickeydan for the `sbot` RTD site.

[2019-08-08 15:59] trickeydan commented on #8
I am unassigning myself as this was *taken over* and I do not know the state of things anymore.

[2019-08-08 16:02] trickeydan commented on #171
The `CNAME` simply needs to be set as `readthedocs.io`.

I have added `kit.sourcebots.co.uk` to the config for now, but am happy to update if this is not the URL we want.

[2019-08-08 16:05] Adimote commented on #63
Sadly I haven't been able to order scaff for the competition this year :<

[2019-08-08 16:05] #63 closed

[2019-08-08 16:24] RealOrangeOne commented on #171
Sounds like the perfect URL to me! @Adimote can you add the above records whenever. I'll deal with removing the docs content probably over the weekend.

[2019-08-08 16:28] Adimote commented on #171
Done,

I added:

CNAME | docs | readthedocs.io

 should propagate soon!

On Thu, 8 Aug 2019, 18:24 Jake Howard, <notifications@github.com> wrote:

[2019-08-08 16:29] Adimote commented on #171
Oops I mean:

```CNAME | kit | readthedocs.io```

On Thu, 8 Aug 2019, 18:28 Andrew Barrett-Sprot, <abarrettsprot@gmail.com>
wrote:

[2019-08-08 16:31] RealOrangeOne commented on #171
![image](https://user-images.githubusercontent.com/6527489/62720658-5c22db80-ba02-11e9-9715-9858f1e64e1a.png)

Can confirm :+1:

[2019-08-08 18:40] kierdavis opened #175 "Brief volunteers about the labs"
We should make sure our volunteers have at least a rough idea what tasks the participants will be doing in advance of the mechanical, electronics and programming labs, so that they can guide the participants through the labs effectively.

This could be part of or immediately follow #128.

[2019-08-08 18:48] trickeydan commented on #175
It should be part of #128, all volunteers need to know.

[2019-08-08 18:55] sedders123 commented on #175
Think the document @PeterJCLaw created here https://github.com/sourcebots/tasks/issues/103#issuecomment-517936728 is relevant. Not to be gone over in the briefing but volunteers should be sign posted to it and strongly encouraged to read it

[2019-08-08 19:01] kierdavis opened #176 "Pay Delta-V"
We have requested to hire radios from Delta-V, but apparently the invoice hasn't been paid yet. It needs to be sorted ASAP or we won't have radios.

[2019-08-08 19:28] PeterJCLaw commented on #171
Where are they currently?

[2019-08-08 20:19] trickeydan commented on #171
With the old kit docs on docs.sourcebots.org

[2019-08-08 21:18] trickeydan commented on #95
Starting the move at 8am works best for us.

[2019-08-08 21:18] #95 closed

[2019-08-08 21:18] kierdavis commented on #5
This has been un-postponed and is now proceeding as normal.

[2019-08-08 21:19] kierdavis commented on #5
For future reference, the files for manufacture are being tracked here: https://github.com/sourcebots/kit-manufacture-2019

[2019-08-08 21:30] Adimote commented on #70
Jack tried to contact him in person today and failed. I guess Jules is being deliberately inaccessible. Our backup plan was to scrounge together some screens, but @PeterJCLaw pointed out quite obviously that we could just borrow SR screens (thanks Peter!)

We've contacted Diane, and she says it should be fine, Yay!

[2019-08-08 22:44] trickeydan opened #177 "Prepare Promotional Material"
The material from #19 needs to be packed.

[2019-08-09 08:27] JennyLouise commented on #19
Marketing have said they'll drop prospectuses off at lvl 4 mountbatten this afternoon

[2019-08-09 10:57] kierdavis opened #178 "Flash arduinos"
The sourcebots Arduino firmware has changed since last year, so we need to flash the firmware onto all the boards.

[2019-08-09 11:27] tshoang commented on #70
Jules is trying very hard to take holiday (from his auto-reply). I'm glad that it is resolved.

[2019-08-09 12:32] JennyLouise commented on #170
It's been chased up, Dave says he's approved it, but the plan on ticket still just says "reported", so I'm not certain it's gone through. I guess we'll find out tomorrow morning. I'll be there bright and early to try out my card

[2019-08-09 12:51] kierdavis commented on #19
These have arrived. Looks like that's everything needed for this ticket, so I'll close.

![IMG_20190809_133556356](https://user-images.githubusercontent.com/845652/62779908-584b9380-baac-11e9-84c7-c01c15518293.jpg)

[2019-08-09 13:21] kierdavis commented on #86
We went to pick them up today but were told that they hadn't been collected in time and they have been returned to stock. The earliest we can get them now is Monday afternoon. None of us were made aware that there was a time limit on the collection of the laptops.

[2019-08-09 13:52] RealOrangeOne commented on #131
The game presentation currently sits in the Smallpeice 2019 folder.

For obvious reasons, i'm not linking it here.

It's currently blocked on getting a final arena layout diagram, but it won't take long to add the images!

[2019-08-09 14:35] RealOrangeOne commented on #144
I've started basic work on this presentation, and put it in the smallpeice directory.

It's currently very closely based on the SR2019 kickstart presentation, but with things which aren't applicable removed.

It's the same presentation as the game (#131), so I can't share the link publicly.

[2019-08-09 15:34] tshoang commented on #86
@kierdavis That's really something unexpected. What is consequence of this to the preparation? Is there anything that we can do to reduce the impact of this?

[2019-08-09 15:47] trickeydan commented on #86
This will be annoying, but if we can get them on Monday it should be ok. Students will have to use machines in the labs until then, which will not have our software autosuggestions working.

We could add instructions to the [kit docs](https://kit.sourcebots.co.uk) on how to add the type hints to Pycharm possibly.

[2019-08-09 15:53] Tyler-Ward commented on #86
I don't believe they will be using the laptops till Thursday when they are in the cube as they will be using lab machines while they are based in labs.

[2019-08-09 16:38] trickeydan commented on #86
The lab machines don't seem to have the software we want on them!

- Python 3.6.0 is installed, but no IDE.

[2019-08-09 16:45] Tyler-Ward commented on #86
This is a problem as we need one machine per student (or at least one per pair) for the programming labs.

[2019-08-09 17:11] joe9599 commented on #86
Is that no specific IDE or no IDLE

[2019-08-09 17:27] trickeydan commented on #86
They do not have an IDE for python. IDLE doesn't have the feature that we need.

Any recent version of PyCharm or VSCode would suffice

[2019-08-09 17:47] kierdavis commented on #171
Based on the time constraints (we need to have this ready for smallpeice, and we still have changes to make) I recommend we put everything into the sbot (so we're not worrying about getting multiple sites to work together) and worry about whether things would be better located elsewhere after smallpeice.

[2019-08-09 19:00] RealOrangeOne commented on #147
The arena has been designed such that it's unlikely this is needed.

Therefore we can defer this to after smallpeice

[2019-08-09 19:16] tshoang commented on #86
I am going to meet Jeff McCann on Monday morning. The Programming Lab is on Tuesday. Do you think that he can help with any of this?

[2019-08-09 20:41] RealOrangeOne commented on #171
That's actually incredibly time consuming, vs simply removing what we have in the docs already, and adding a link to the new docs in the sidebar.

In fact, i've already done it: https://github.com/sourcebots/docs/pull/151

[2019-08-09 21:27] trickeydan commented on #170
Not much more we can do now. I'm closing this and we'll see how it goes tomorrow.

Thanks jenny :)

[2019-08-09 21:27] #170 closed

[2019-08-09 21:28] #70 closed

[2019-08-09 21:30] trickeydan commented on #150
This seems to have been sorted now and Josh and Will said they had it in hand earlier.

[2019-08-09 21:30] #150 closed

[2019-08-09 21:32] trickeydan commented on #109
This was sorted by me

[2019-08-09 21:32] #109 closed

[2019-08-09 21:33] trickeydan commented on #106
@Adimote what is the status of the schedule?

[2019-08-09 21:38] trickeydan commented on #124
@Adimote any update?

[2019-08-09 21:39] trickeydan commented on #176
It seems that this won't happen in time for us to get them for Monday

[2019-08-10 09:10] #66 closed

[2019-08-10 09:10] #65 closed

[2019-08-10 09:30] Dasepho commented on #165
Designs ready. Waiting on getting the acrylic

[2019-08-10 09:39] Dasepho commented on #77
I'll take this if I can get the glue and the motors

[2019-08-10 11:16] trickeydan commented on #177
Thanks @JennyLouise

[2019-08-10 11:16] #177 closed

[2019-08-10 11:17] trickeydan commented on #124
@RealOrangeOne says that he has a car.

[2019-08-10 11:17] #124 closed

[2019-08-10 11:18] trickeydan commented on #107
Jenny is putting a message in slack reminding people to reply. 3pm deadline.

[2019-08-10 11:22] Dasepho commented on #77
Done

[2019-08-10 11:22] #77 closed

[2019-08-10 11:23] trickeydan commented on #93
Assigned to Becky

[2019-08-10 11:25] #120 closed

[2019-08-10 11:28] RealOrangeOne commented on #173
We have at least 30, plus a lot more.

[2019-08-10 11:28] #173 closed

[2019-08-10 11:45] Dasepho commented on #26
Built

[2019-08-10 11:45] #26 closed

[2019-08-10 12:03] RealOrangeOne commented on #135
Re-opening, as it needs designing

[2019-08-10 12:05] RealOrangeOne commented on #135
- Toilet Locations
- Entrances
- Exits
- Do Not Enter
- Robot Uprising In Progress

[2019-08-10 12:08] kierdavis commented on #178
All flashed with [current master](https://github.com/sourcebots/arduino-fw/commit/f33dca12cce57c51153a911c9d4c65bcafec49c2) and tested.

[2019-08-10 12:14] JennyLouise commented on #135
https://docs.google.com/presentation/d/1sgwSwAuWWEBkRg7AhtbDsDof-JQ-MAZbPSMh3EEs9E0/edit?usp=sharing

Made a start to signage with the locations listed on the schedule - adding the sourcebots or sro logo would be nice, and any missing locations or other signs.

I'll print multiple copies, and will add arrows with a sharpie in whatever directions are needed as we put the signs up

[2019-08-10 12:17] RealOrangeOne commented on #168
This is in progress, and will be happening throughout the weekend

[2019-08-10 12:24] RealOrangeOne opened #179 "Create name badges"

[2019-08-10 12:24] #179 closed

[2019-08-10 12:24] RealOrangeOne commented on #179
(Created and closed for reference next time)

[2019-08-10 12:24] jcwilliamson opened #180 "Pay Mechanical Workshop"
The mechanical workshop were not paid for the motor mounts.

[2019-08-10 12:27] kierdavis opened #181 "Flash SD cards for kit Pis"
We need to flash SourceOS onto the Pis used in the kits.

The latest release of SourceOS should be used; at the time of writing, this is [2019.1rc1](https://github.com/sourcebots/SourceOS/releases/tag/SourceOS-2019.1rc1).

[2019-08-10 12:31] kierdavis opened #182 "Flash SD cards for prize Pi kits"
We're giving away Raspberry Pi kits as prizes (#27). We could pre-flash the SD cards of these Pis with something.

[2019-08-10 12:35] RealOrangeOne commented on #119
## Camcons

- 2 large
- 3 medium
- 2 small

[2019-08-10 12:47] kierdavis opened #183 "Finish assembling pi power hats"
We got the wrong component for D1, so all the Pi power hats are being assembled without this component on. We should choose a component that actually works, buy it and solder it onto all the boards.

Also, we only ordered 19 headers. We need to order more, and finish soldering them onto the boards.

[2019-08-10 12:48] kierdavis commented on #178
Actually, we might be using the SR ruggeduinos rather than the Sourcebots arduinos. We're not sure yet, so reopening until this is confirmed.

[2019-08-10 12:57] kierdavis commented on #181
We can use the big SD card duplicator from level 2 labs, which will be available from Monday.

[2019-08-10 12:57] kierdavis commented on #182
We can use the big SD card duplicator from level 2 labs, which will be available from Monday.

[2019-08-10 13:01] kierdavis commented on #176
Delta-V has been paid so we should be getting radios.

[2019-08-10 13:01] #176 closed

[2019-08-10 13:55] tshoang commented on #176
I paid using my card. I will sort out with finance later.

[2019-08-10 14:22] Adimote commented on #176
Woah Son, that was way beyond the call of duty, Thanks so much!

On Sat, 10 Aug 2019 at 15:55, Thái Sơn Hoàng <notifications@github.com>
wrote:

[2019-08-10 14:23] #154 closed

[2019-08-10 14:27] RealOrangeOne commented on #154
The above is fine for a plan.

[2019-08-10 16:41] Tyler-Ward commented on #19
We still need to collect mugs from Joyce

[2019-08-10 17:16] trickeydan commented on #15
They all worked

[2019-08-10 17:16] #15 closed

[2019-08-10 17:31] trickeydan commented on #135
Interesting idea: Do we want to use the A-frame signs?

[2019-08-10 18:04] kierdavis opened #184 "Document the pi power board test procedure"
This is what I followed as part of #10:

* Visually inspect board.
* Plug in camcon connected to a PSU set to 5V.
* Check power LED is green.
* Check voltage on both output pins is 5V.
* Slowly reduce PSU voltage and check output cuts out at ~3.5V
* Slowly increase PSU voltage and check output cuts out at ~7V
* Return PSU voltage to 5V.
* Invert the polarity of the input connector.
* Check power L

[2019-08-10 18:11] kierdavis commented on #10
We have built:

* 18 fully working boards - these are now installed in the Raspberry Pis.
* one board which is electrically working but has a blockage in one of the header pins. This has been red-taped. It should be a simple job to fix.
* three boards which have all components except the header (because we were only able to order enough headers for the above 19 boards).

We have enough to ship for

[2019-08-10 18:11] #10 closed

[2019-08-10 18:13] kierdavis commented on #55
100 of these have been built.

[2019-08-10 18:13] #55 closed

[2019-08-10 18:37] trickeydan commented on #184
This should be placed into https://github.com/s-r-o/kb/

[2019-08-10 18:44] RealOrangeOne commented on #67
Here's the plan: https://hackmd.io/E8ijNTvNTsWl-EGRrP2hDg?edit

[2019-08-10 18:44] #67 closed

[2019-08-10 18:46] #168 closed

[2019-08-10 18:46] #169 closed

[2019-08-10 18:50] #122 closed

[2019-08-10 18:55] #182 closed

[2019-08-10 18:58] RealOrangeOne opened #185 "Validate electronics labs"
General polishing etc.

[2019-08-10 20:18] trickeydan opened #186 "Organise Mentoring"
Student teams should be assigned a mentor who is familiar with their robot design.

This should be mentioned in #144.

1:1 ratio would be ideal but 1:2 would also work well.

[2019-08-10 21:46] kierdavis commented on #178
A decision has been made to ship SRO arduinos, so this doesn't need any further work.

[2019-08-10 21:46] #178 closed

[2019-08-10 23:18] kierdavis commented on #119
Kit status (will be kept up to date as things change):

Tick when item has been put into every kit RUB.

* [x] Pi assembly: these need to be tested as a whole (#118)
  * Raspberry Pi: these are in the kit boxes but should be tested as mentioned above
  * Power hat: these are attached to the Pis
  * Micro SD card: these are *not* in the kit boxes since they need to be flashed (#181)
* [x] Power boa

[2019-08-10 23:20] Adimote commented on #116
Sadly I can't bring the usb hub until Monday because my flight was cancelled :(

[2019-08-10 23:32] kierdavis commented on #119
@RealOrangeOne I don't think those camcon quantities are correct, please see sourcebots/sbot#46 for what I think they should be and why.

[2019-08-10 23:36] kierdavis commented on #116
@Adimote No worries, I can just nest four-port hubs :)

[2019-08-10 23:45] kierdavis commented on #186
It should be made clear (in a non-scary way) that this is a commitment for the week - mentors shouldn't be wandering off to the Cube halfway through the week. If they wish to switch roles they should let us know so a replacement mentor can be assigned.

Equally, it doesn't mean mentors have to be glued to their teams. I'd suggest aiming to check in with each of their teams and have a brief discuss

[2019-08-11 09:33] trickeydan commented on #99
Peter B is having a go at this.

[2019-08-11 09:34] kierdavis opened #187 "Assemble power board jumper camcons"
Forgetting to plug these in is really annoying. I'm just going to ship the power boards with these plugged in already so we don't have to worry about them anymore.

[2019-08-11 09:37] JennyLouise commented on #180
Is this coming out of the SRO society budget, or does it need to be forwarded to ECS?

[2019-08-11 09:39] JennyLouise commented on #107
We have 18 yeses and 4 maybes, going to book a table of 20 with Baffi. They might need a deposit for a group that large - how are we handling that?

[2019-08-11 09:42] JennyLouise commented on #138
If someone (@Dasepho ?) could generate the general "thanks for participating" certificates, I can print those out this evening.

For the actual prize winners, can someone let me know what time those will be known on friday, I'll make sure to be on highfield and ready to print those on the day.

[2019-08-11 09:47] joe9599 commented on #185
This has already been done, @Dasepho and I have reviewed the labs since recent changes by Jon Bartlett, we do however need to figure out who is leading the labs, from discussion with @Adimote it was believed that it was me and @Dasepho, however I have also since heard that @Tyler-Ward and Jon Bartlett are leading it

[2019-08-11 09:55] Dasepho commented on #138
We currently don't have team allocations, so if we need to put team names on certificates we'll have to wait until Monday. Personally I would prefer to print them today, i.e. print them without team names if people are happy with that?

I also need to have access to the list of competitors' names to be able to generate them. Can I be given access or (for GDPR reasons) can someone who has that data

[2019-08-11 10:17] kierdavis commented on #187
@sedders123 and @jh16g15 are doing this.

[2019-08-11 10:32] jcwilliamson commented on #180
I believe this is being paid for by Son.

[2019-08-11 10:32] jh16g15 commented on #187
Done

[2019-08-11 10:32] #187 closed

[2019-08-11 10:45] Dasepho commented on #138
![Screenshot at 2019-08-11 11-39-39](https://user-images.githubusercontent.com/47758255/62832883-55c47780-bc2d-11e9-838b-34644bb8e1b3.png)
![Screenshot at 2019-08-11 11-40-54](https://user-images.githubusercontent.com/47758255/62832885-578e3b00-bc2d-11e9-927b-f74d493aeb2a.png)
![Screenshot at 2019-08-11 11-41-25](https://user-images.githubusercontent.com/47758255/62832886-5826d180-bc2d-11e9-94b2-4

[2019-08-11 11:52] kierdavis commented on #116
I have flashed 32 robot USBs (2 per team) and 8 arena USBs (2 per zone).

[2019-08-11 11:52] #116 closed

[2019-08-11 13:10] Dasepho commented on #138
Updated "Facilitator's award"
![Screenshot at 2019-08-11 14-09-37](https://user-images.githubusercontent.com/47758255/62834276-cf666080-bc41-11e9-8e5f-917983539d3c.png)

[2019-08-11 13:49] #172 closed

[2019-08-11 13:51] Adimote commented on #186
I've assigned 8 people to always be around with the students in the schedule, so we can have teams per mentor

[2019-08-11 13:58] Adimote commented on #125
Unassigned myself because it's hard to help out with this remotely

[2019-08-11 14:05] Adimote commented on #106
This is now more-or-less done, there are some on-going tweaks but for now I'm happy for it to be published

[2019-08-11 14:05] #106 closed

[2019-08-11 14:22] Tyler-Ward commented on #121
packed

[2019-08-11 14:22] #121 closed

[2019-08-11 14:50] kierdavis commented on #118
Power boards are being tested.

[2019-08-11 15:04] sedders123 commented on #99
Peter B has done this

[2019-08-11 15:04] #99 closed

[2019-08-11 15:11] sedders123 commented on #8
@RealOrangeOne and @PeterJCLaw Have been to the container and obtained the required kit.

[2019-08-11 15:11] #8 closed

[2019-08-11 15:14] sedders123 commented on #125
We now have a pile of stuff in L4 to be moved by estates to the cube, as well as the wood from the cupboard.

The majority of items destined for labs have been moved by volunteers today and the remaining few items will be carried down as needed by volunteers.

[2019-08-11 15:14] #125 closed

[2019-08-11 15:16] sedders123 commented on #30
We now have a pile of stuff being moved by estates, a large number of items in L2 labs, and we will move the rest of the stuff as needed.

[2019-08-11 15:16] #30 closed

[2019-08-11 15:19] sedders123 commented on #68
These have been planned https://github.com/sourcebots/compstate-smallpeice2019/blob/94e486f579729bd9ec02a2439b433fe2992e7cc6/league.yaml

[2019-08-11 15:21] sedders123 commented on #69
These have been planned https://github.com/sourcebots/compstate-smallpeice2019/blob/5da2211dbeb3d2a0e591efc539d4087fb7f22d27/schedule.yaml

[2019-08-11 16:03] PeterJCLaw commented on #68
While the match arrangement is done, the timings are not yet sorted.

[2019-08-11 16:03] PeterJCLaw commented on #69
While the match arrangement is done, the timings are not yet sorted.

[2019-08-11 16:07] kierdavis commented on #118
Power boards have been tested. All that's left is to do a quick check that every Pi boots, once its SD card has been flashed (#181).

[2019-08-11 16:09] kierdavis commented on #119
Kits have been packed as best we can right now, and their contents double-checked. They are currently missing SD cards, motors and flag mounts.

What still needs to be done:

* [ ] Flash the SD cards (#181), put one in each Pi, and check it boots.
* [x] Retrieve the motors from B16 and put two in each box.
* [x] Find the flag mounts (accidentally taken to B16 with the motors) and put one in each b

[2019-08-11 16:14] kierdavis commented on #118
Everything left to do on this is a "SHOULD".

[2019-08-11 16:17] trickeydan commented on #186
@Adimote can I hand this over to you as you've done it?

[2019-08-11 16:26] andybusse commented on #110
Milestones have gone from this, will make sure they're at least mentioned at intro and drilled into everyones consciousness
As a reminder:
* Monday - Robots designed and send to mech workshop
* Tuesday - First Movement
* Wednesday - Intelligent Movement
* Thursday - Move to Cube

[2019-08-11 16:27] andybusse commented on #186
We'll cover this at the volunteer brief (#128 )

[2019-08-11 16:30] andybusse commented on #144
Hi folks.
I'll dig out what I did last year and coordinate who's doing what with Jake.
Some of it's not going to be in slides anyway.

[2019-08-11 16:49] PeterJCLaw commented on #69
timings have now been sorted.

[2019-08-11 16:49] #69 closed

[2019-08-11 16:49] PeterJCLaw commented on #68
timings have now been sorted.

[2019-08-11 16:49] #68 closed

[2019-08-11 17:09] JennyLouise commented on #107
We've been asked to give a pre-order for food, including starters and desserts. Will have to put together some kind of google form for people to give us their options

[2019-08-11 17:13] JennyLouise commented on #107
https://forms.gle/ZBHifm2ncaCpe8yN6

[2019-08-11 17:26] kierdavis commented on #93
Done and tested.

[2019-08-11 17:26] #93 closed

[2019-08-11 17:34] kierdavis commented on #118
Testing Pis can't be done until the SD cards are flashed on Monday morning, updating milestone.

[2019-08-11 17:37] kierdavis commented on #185
This is pretty much done, Dan H is going to print a fresh copy for proofreading and than that's it.

[2019-08-11 17:42] kierdavis commented on #119
Nothing else we can do on this today, updating milestone.

[2019-08-11 17:49] JennyLouise commented on #138
Tyler has just mentioned smallpiece provide participation certificates. @trickeydan can you confirm this with them tomorrow? I'll hold off on printing certificates for now.

[2019-08-11 17:58] sedders123 opened #188 "Chase up missing orders"
We are missing:
 - [ ] 3 x 35L Rubs
 - [ ] Cardboard
 - [ ] Power Tools
 - [ ] **Prizes** - 1x Pi Kit
 - [ ] **Prizes** - Prize mugs

These were ordered via Son

[2019-08-11 18:00] sedders123 commented on #119
We are waiting on access to the 'big flashing gadget' in the lab technicians office to flash multiple cards at once.

[2019-08-11 18:35] Dasepho commented on #185
Done

[2019-08-11 18:35] #185 closed

[2019-08-11 18:53] Dasepho commented on #136
Looks ok to me

[2019-08-11 20:09] tshoang commented on #188
Unfortunately, the Power Tools still "Waiting For Goods to arrive from Supplier". I have informed Dan on Friday about the Power Tools and sent an email to Shaun and Lee about them.

2019-07-30  11:09  187807 Order Status: Waiting For Goods to arrive from Supplier  Supplier: SGS Engineering
--
60805418 | 1.0000 | R18PD3-0 | RYOBI R18PD3-0 18V ONE+ HAMMER DRILL | 519191101 | tsh2n14 | 52.4760
608054

[2019-08-11 20:13] tshoang commented on #188
Can you please remind me about other order (from which Order/Shop)? Thank you very much.

[2019-08-11 21:30] trickeydan opened #189 "Organise Shadowing"

[2019-08-11 21:48] trickeydan commented on #180
It needs a budget code so ECS will need to pay it.

[2019-08-11 22:06] #81 closed

[2019-08-11 22:17] RealOrangeOne commented on #171
It is therefore out of my hands.

[2019-08-11 22:18] RealOrangeOne commented on #131
This is now done as much as is necessary, A tiny bit of rehearsal time in the morning will cover anything which remains.

[2019-08-11 22:18] #131 closed

[2019-08-11 22:21] RealOrangeOne commented on #96
There is now a plan:

- How to build your robot (#144) will be handled by @andybusse
- Rules presentation (#131) will be handled by me.

[2019-08-11 22:21] #96 closed

[2019-08-11 22:24] trickeydan commented on #171
I'm not sure if this is the best way to approach a dispute as it looks like there is one here. Given we have time tomorrow morning, I suggest that this is discussed then.

[2019-08-11 22:36] trickeydan commented on #171
I don't want to be involved in this anymore.

[2019-08-12 09:57] JennyLouise commented on #135
Signage is printed, a few have gone up already, the rest are in the cube with some blue tack and sharpies

[2019-08-12 09:57] #135 closed

[2019-08-12 09:58] kierdavis commented on #181
Done. Think one of the 18 might be broken. I'm reflashing right now - if it works it'll go into the spare kit box, if not it'll go in the bin.

[2019-08-12 09:58] #181 closed

[2019-08-12 09:59] kierdavis commented on #119
SD cards flashed. I need to put them in the Pis and briefly test them, then this can be considered complete.

[2019-08-12 10:33] trickeydan commented on #171
This has caused a *major* issue as we announced the **old** documentation to them.

[2019-08-12 10:53] kierdavis commented on #119
Inserted into Pis and checked there is activity on the LEDs when the boot. Not a brilliant test but we didn't have an HDMI cable to hand. We'll discover any actual issues once the teams start trying to use them in robots.

This is now complete.

[2019-08-12 10:53] #119 closed

[2019-08-12 12:31] kierdavis commented on #158
Everything in the `sro-loan` folder in the SR inventory must be returned to SR.

[2019-08-12 12:40] PeterJCLaw commented on #189
The summer school will happen without this. Downgrading to "should".

[2019-08-12 12:43] PeterJCLaw commented on #144
This happened.

[2019-08-12 12:43] #144 closed

[2019-08-12 12:45] PeterJCLaw commented on #103
@Adimote has apparently taken this on.

[2019-08-12 15:16] Tyler-Ward commented on #164
These have been dripped off with ECS

[2019-08-12 15:17] Tyler-Ward commented on #165
these have been made

[2019-08-12 15:17] #165 closed

[2019-08-12 15:27] Tyler-Ward commented on #188
Updates:
* Cardboard has been canceled
* Rubs were delivered and lost within the uni
* power tools are beng chased
* pi kit should be here today
* mugs still need collecting form joyce @JennyLouise are you planning on doing this?

[2019-08-12 16:04] kierdavis commented on #86
We've got 16 laptops from isolutions. We need to boot them up, check we can log in, and install pycharm.

[2019-08-12 17:33] trickeydan opened #190 "Put software on laptops"
We've got 16 laptops from isolutions. We need to boot them up, check we can log in, and install pycharm.

_Originally posted by @kierdavis in https://github.com/sourcebots/tasks/issues/86#issuecomment-520488219_

[2019-08-12 17:33] #86 closed

[2019-08-12 17:34] trickeydan commented on #164
This is causing issues in labs as Kier and I don't have enough sockets.

[2019-08-12 17:55] tshoang commented on #188
- I asked ECS Buyer (Shaun) to reorder 2 x 35L boxes (as it was said delivered).
- Shaun believed that the Pi is on its way (but as today, it is still no where to be seen). I asked Shaun again at the end of the day.
- Shaun will chase the order for Power Tool at the University level.
- The cardboard order has been cancelled (it was actually dispatched, however, we haven't received it in time)
(Jus

[2019-08-12 18:22] kierdavis commented on #190
They are domain-build, so we can't install pycharm on them.

[2019-08-12 18:23] kierdavis commented on #190
A workaround is to build some live USBs.

[2019-08-12 20:10] PeterJCLaw commented on #190
We booted one up:
- it requires a network connection (cable or WiFi) in order to be logged into; it asks for credentials for Eduroam
- when logging in with an `@soton.ac.uk` account, it _doesn't_ automatically connect to  Eduroam with the login credentials

Unfortunately we didn't try installing anything.

[2019-08-13 08:07] trickeydan commented on #91
This has not been done adequately. The student was not given the presentations in time for Jenny's talk, and there no presentations for the other talks.

[2019-08-13 09:20] JennyLouise commented on #188
I've emailed Joyce, will email again, and will go by her office later today/tomorrow if I don't hear back.

[2019-08-13 09:26] JennyLouise commented on #91
@trickeydan I should have kept that business card with Jon's email on it, can you send it to me and I'll forward him the link. And we need everyone's presentations, I'll follow people up on that

[2019-08-13 09:32] JennyLouise commented on #91
@tshoang - do you have any documents that need adding to the shared folder, like from your housekeeping talk yesterday, or any other presentations? Could you also ask Jon and Dennis for their presentations prior to their slots? They can email them to me at jenny.walker@soton.ac.uk

@trickeydan @RealOrangeOne (& @ Andy Busse - but I can't seem to actually tag him) - can I have the how to build your

[2019-08-13 09:46] kierdavis opened #191 "Return micro USB cables to level 2 lab staff"
They are white, StarTech branded, 35 in quantity.

[2019-08-13 11:20] JennyLouise commented on #19
Mugs have been collected, they are in a cardboard box in the left hand cupboard in level4 mountbatten

[2019-08-13 11:20] #19 closed

[2019-08-13 21:01] PeterJCLaw commented on #71
Deployment plan:
- compbox: my Pi 3
- arena corners: four SB Pis
- staging: SB Pi
- large display just inside the Cube: my Pi 2
- large display just outside the Cube: SB Pi

[2019-08-13 21:07] PeterJCLaw commented on #51
@joe9599 can you confirm what space we have in SUSU for teams to be in? Currently the compstate has Bar 2 and Bar 3 in the [layout](https://github.com/sourcebots/compstate-smallpeice2019/blob/master/layout.yaml) as that's what I'd assumed would be the case. This may not matter a lot if we only have a single shepherd (or no shepherd), but as this was the main thing which I think was outstanding her

[2019-08-13 21:08] PeterJCLaw commented on #51
@joe9599 Separately, the system supports displaying names for the teams; do we want to use that (rather than "Team 4" etc.)? If so, have we told the competitors?

[2019-08-14 12:17] Tyler-Ward commented on #164
Completed

[2019-08-14 12:17] #164 closed

[2019-08-14 12:18] Tyler-Ward commented on #103
@Adimote I assume we can close this now

[2019-08-14 16:03] RealOrangeOne commented on #136
The plan has been finalised with the above plan, and adapted for the truss arena

[2019-08-14 16:03] #136 closed

[2019-08-14 16:05] RealOrangeOne commented on #113
This doesn't appear to be needed anymore as a dedicated session.

Teams can ask questions during the late-night robot hacking, or at a dedicated slot in #136.

[2019-08-14 16:05] #113 closed

[2019-08-14 16:10] PeterJCLaw commented on #118
The kits are in use. I don't think this adds a lot now.

[2019-08-14 16:10] #118 closed

[2019-08-14 16:11] PeterJCLaw commented on #128
We were briefed, briefly.

[2019-08-14 16:11] #128 closed

[2019-08-14 16:21] kierdavis commented on #159
Things I've witnessed be borrowed, there may be other things I'm not aware of:

* 35 white StarTech micro USB cables (individually bagged ready for first year labs)
* 4 white micro SD card readers
* SD card duplicator

[2019-08-14 16:22] kierdavis commented on #191
Merged into #159.

[2019-08-14 16:22] #191 closed

[2019-08-14 17:28] PeterJCLaw commented on #153
This is underway at https://github.com/PeterJCLaw/srcomp-scorer/compare/sr2019...smallpeice-2019 (ignore the base branch)

[2019-08-14 20:35] PeterJCLaw commented on #153
https://github.com/PeterJCLaw/srcomp-scorer/pull/3 now exists for review of the score-entry UI.

[2019-08-14 21:15] PeterJCLaw commented on #190
We've confirmed that there's a place on the machines which we can put things so that they persist being logged out and between different users.

Plan is to use that, combined with a PowerShell script which uses chocolatey to install the programs we want (many in a portable mode).

[2019-08-14 21:19] PeterJCLaw commented on #190
Turns out, we might actually have admin on the laptops. This is frustrating to find out now, but makes this much easier.

[2019-08-15 08:44] nmalky commented on #190
(it appears that the "admin" we get doesn't do what we want).
@PeterJCLaw @trickeydan will you be able to configure things? I won't be around until 2pm or so.
- install python3.7 separately, from the website
- then, pycharm should work (can install manually if need be)

[2019-08-15 09:39] PeterJCLaw commented on #51
The teams are all in Bar 2.

[2019-08-15 10:25] PeterJCLaw commented on #190
Sorry, only just seen this. I'm currently busy in the Cube, so I doubt I'll get to look at this any time soon.

[2019-08-15 10:57] #153 closed

[2019-08-15 10:58] PeterJCLaw commented on #153
This is done.

[2019-08-15 11:00] PeterJCLaw commented on #71
We're ready to go here.

[2019-08-15 11:00] #71 closed

[2019-08-15 11:00] PeterJCLaw commented on #51
This is created.

[2019-08-15 11:00] #51 closed

[2019-08-15 11:01] PeterJCLaw commented on #175
Labs have all happened.

[2019-08-15 11:01] #175 closed

[2019-08-15 11:02] PeterJCLaw commented on #171
Either this happened or it didn't.

[2019-08-15 11:02] #171 closed

[2019-08-15 11:02] PeterJCLaw commented on #103
The workshops have happened.

[2019-08-15 11:02] #103 closed

[2019-08-15 11:12] trickeydan commented on #171
This did happen, albeit very rushed and late.

[2019-08-15 11:32] PeterJCLaw commented on #190
This is apparently not happening. The competitors will need to do this themselves under guidance from us.

[2019-08-15 11:32] #190 closed

[2019-08-15 13:15] trickeydan commented on #91
I don't think we are shipping any more content, so this can be considered done.

[2019-08-15 13:15] #91 closed

[2019-08-15 13:15] trickeydan commented on #189
This did not happen unfortunately.

[2019-08-15 13:15] #189 closed

[2019-08-15 13:16] trickeydan commented on #186
This was done on Monday.

[2019-08-15 13:16] #186 closed

[2019-08-15 13:16] trickeydan commented on #183
We should consider if we are making a second hw revision before continuing.

[2019-08-15 13:20] trickeydan commented on #126
This was done

[2019-08-15 13:20] #126 closed

[2019-08-15 13:48] trickeydan opened #192 "Archive SP2019 Floorplan"
We should add them to https://github.com/sourcebots/floorplan

[2019-08-15 14:03] trickeydan opened #193 "Push Board FW Changes Upstream"
We have made some minor modifications to the board firmwares.

We should push them upstream and then archive the repos.

[2019-08-15 14:18] kierdavis commented on #193
Power board: already been upstreamed, possibly by accident.

Motor board: I've opened https://github.com/sourcebots/motor-v4-fw/issues/1 to track this.

Servo board: we don't have a sourcebots fork of the servo board firmware (yet).

[2019-08-17 13:50] jcwilliamson opened #194 "Return USB stick"
One of the smallpeice supervisors (Aaron) has left his usb stick behind. We should attempt to contact them to return this.

[2019-08-17 13:53] RealOrangeOne commented on #107
We ate, it was good.

[2019-08-17 13:53] #107 closed

[2019-08-17 13:54] RealOrangeOne commented on #115
@JennyLouise printed things.

[2019-08-17 13:54] #115 closed

[2019-08-17 13:54] RealOrangeOne commented on #138
@JennyLouise printed the certificates, and hand-wrote award cards.

[2019-08-17 13:54] #138 closed

[2019-08-17 13:55] RealOrangeOne commented on #139
We tore down. Things are currently down.

Whether it was _scheduled_ was a different story...

[2019-08-17 13:55] #139 closed

[2019-08-17 14:03] antonnikitin97 opened #195 "Create recruitment/promotional material"

[2019-08-17 15:17] antonnikitin97 opened #196 "Reimburse Nathan for tin foil and tape"
Nathan would like £26 for tin foil and tape that was used at SP 2019
Receipt Seen - will store in Google Drive

[2019-08-17 15:34] anton-firmware commented on #196
Reimbursement complete

[2019-08-17 15:34] #196 closed

[2019-08-17 15:34] antonnikitin97 opened #197 "Reimburse Tyler for PCBs"
Tyler wants to be reimbursed for PCBs for SP 2019
Receipt not seen yet.

[2019-08-17 18:00] antonnikitin97 opened #198 "Plan an initial freshers' event"
There should be an introductory event to the society after the bunfights.

[2019-08-17 18:21] #198 closed

[2019-08-17 18:52] kierdavis opened #199 "[SP2020]Add SRO-AAM-ODQ to inventory"
We have a raspberry Pi labelled SRO-AAM-ODQ, but this asset code doesn't exist in the inventory. We should add it, or assign it a new asset code. This should be in the same RUB as the rest of the raspberry pis.

[2019-08-17 18:53] kierdavis opened #200 "Sort misc stuff"
We have three crates and four RUBs of misc stuff after the post-smallpeice sorting day. We should sort these into appropriate RUBs.

[2019-08-17 18:55] kierdavis opened #201 "Put proper label on meccano box SRO-AAU-DAZ"
I didn't have a pre-printed label or a label printer to hand when I added the meccano box SRO-AAU-DAZ to the inventory. We should print a proper barcode label for this item. It's currently on the shelf with the rest of the meccano boxes.

[2019-08-18 16:09] RealOrangeOne commented on #157
This was _mostly_ done, however there are almost certainly other batteries which need storage charging.

These batteries are stored separately, so should be easy to do when needed.

[2019-08-18 16:12] RealOrangeOne commented on #147
Because of the logicstics likely required to receive the required order, this will need some liaising with someone in Southampton to ensure it can be delivered, moved and stored in the cupboard.

Not sure if it's worth me staying assigned to the ticket, but i'll leave it as-is for now. I can't make any more progress until there's a delivery plan, though.

[2019-08-18 16:32] trickeydan commented on #83
This is unlikely to happen

[2019-08-18 16:32] #83 closed

[2019-08-18 16:32] trickeydan commented on #155
This occurred

[2019-08-18 16:32] #155 closed

[2019-08-18 16:32] trickeydan commented on #162
Assuming that this was the USB sticks, it occurred

[2019-08-18 16:33] trickeydan commented on #167
This happened

[2019-08-18 16:33] #167 closed

[2019-08-19 06:37] joe9599 commented on #174
The retro will be happening today at 7pm

[2019-08-19 06:37] #174 closed

[2019-08-19 15:07] WillB97 commented on #4
Has this now been completed?

[2019-08-19 18:26] kierdavis commented on #157
Did we label which box was which (storage charged vs not storage charged)?

[2019-08-19 18:30] kierdavis commented on #126
For future reference, it looks like this ended up in the ["Role Descriptions" tab of the volunteer schedule](https://docs.google.com/spreadsheets/d/1I4kc3PxRiNX85NAW5Gpr84YNtAHk1YM2GYPJRwxmELQ/edit#gid=1205504208).

[2019-08-19 18:37] kierdavis opened #202 "Find owner(s) of lost coat and umbrella"
A coat and an umbrella were left behind in level 2 labs at the end of the week, probably from a competitor or Smallpeice supervisor. We should contact Smallpeice and see if anyone claims it.

Note that #194 also relates to returning lost property; these could be done at the same time.

![IMG_20190817_200543881](https://user-images.githubusercontent.com/845652/63290122-ad5f8480-c2b8-11e9-9708-640aa

[2019-08-19 18:39] kierdavis commented on #194
Note that #202 also relates to returning lost property; these could be done at the same time.

[2019-08-19 18:42] kierdavis commented on #162
Surely this would include data about volunteers (e.g. emails, attendance, schedules, dietary preferences) too? Perhaps also the conference accounts' `H:` drives, but that might be isolutions' job.

[2019-08-19 18:44] kierdavis commented on #147
I don't think this is time-critical now since the earliest this would be needed would be April (or August if SR can confirm a non-SUSU venue for the SR2020 competition); therefore I think this can wait until term starts when we'll have more than a couple of volunteers around to cart things around and repack the cupboard.

[2019-08-19 19:35] kierdavis commented on #4
Not sure - we have ordered and received some RUBs, but we could still do with more since we ended up with quite a few "misc" crates after Smallpeice.

[2019-08-19 20:57] kierdavis commented on #125
For the record, we didn't book the university porters at all during packdown. This was because they only do moves during working hours, meaning that the earliest opportunity that we could arrange a move would be the following Monday (when almost all of the volunteers would already have gone home). Instead we moved everything using cars, trolleys, and a repurposed piece of stage decking (which happ

[2019-08-19 21:21] kierdavis commented on #122
For the record, we used the "smallpeice bot" chassis, programmed to do some basic movement.

[2019-08-19 21:22] kierdavis commented on #170
Ultimately we just used Tyler's card access when needed.

[2019-08-19 21:35] kierdavis commented on #174
The points in the retro doc have been discussed and categorised. I think it would be good to draw up a more permanent document that we can refer to throughout the planning cycle for Smallpeice 2020. If people agree this is a good idea, I can have a go at doing this.

[2019-08-20 07:50] RealOrangeOne commented on #157
I thought we did? Although I never saw any labelling myself.

[2019-08-21 19:57] PeterJCLaw opened #203 "Investigate robots not stopping"
During the competition matches there were a number of robots which carried on moving after the end of the matches. I'm not sure if this has been captured already somewhere, but I'm adding this in case it hasn't.

There was one occasion, though I can't recall which robot, where a robot was definitely still driving around substantially after the end of the match. This indicates that the motors weren

[2019-08-21 20:04] PeterJCLaw opened #204 "Suggestion for improving prize-giving"
Not sure how best to submit suggestions, so please do move this elsewhere if there's a better home.

During the prize giving there seemed to be a lot of faff around giving the actual prizes to the participants. Concretely: three volunteers were needed to hand out a number of small prizes to each team and these seemed to get routed via the main speaker.

While it's sort-of nice to have everything h

[2019-08-21 21:05] kierdavis commented on #157
Oh, actually it should be easy to identify - the ones that have been storage charged are in bags while the ones that are not storage charged are loose.

[2019-08-21 21:17] trickeydan commented on #203
There are two separate instance here, both caused by separate issues.

- The Black robot with LEDs was using threads, and as we had not considered teams using these, the threads were not correctly killed off it seems. (https://github.com/sourcebots/sbot/issues/69).
  - I believe that the `pyserial` instance was left in memory, and as the Arduino connection is not killed in `make_safe` (unlike the

[2019-08-21 21:19] trickeydan commented on #204
I agree that having a table on the stage would be better, and I don't think it's necessary for any of the prizes to be routed via the guest speaker.

[2019-08-21 21:29] kierdavis commented on #203
Unfortunately, I don't think this will work. Since c12e5e3b1e4439409f068c1cf781ceec508dcb4b, the earliest that our code has access to the zone information and could emit a corresponding tone is immediately after the start button is pressed. Even if the person pushing the start button noticed that the robot was not in competition mode, there's no time to reboot the robot and try again without jeopa

[2019-08-21 21:37] trickeydan commented on #203
This was put in for @prophile during the week when we realised how short of a time we have.

I'd rather not do this in the future.

Tangent: 7 segment display on Pi Power Hat Rev2?

[2019-08-22 09:02] #166 closed

[2019-08-22 09:03] trickeydan commented on #163
This has yet to be completed. Do we know where the sheet of paper is?

[2019-08-22 09:03] #161 closed

[2019-09-16 17:03] trickeydan commented on #158
SR have retaken responsibility, although it is in the lobby cupboards

[2019-09-16 19:00] #158 closed

[2019-09-17 05:22] kierdavis commented on #180
Any idea if this has happened yet?

[2019-09-17 06:00] kierdavis commented on #192
Although I know this issue refers to the various SUSU venues, we should also archive the L2 labs layout because right now it's only stored in Slack (which means it will disappear in a few months).

I've attached it here: [Smallpeice 2019.pdf](https://github.com/sourcebots/tasks/files/3619470/Smallpeice.2019.pdf)

[2019-09-17 12:26] trickeydan commented on #192
Added to kb https://github.com/roboticsoutreach/kb/pull/10

[2019-09-17 12:26] trickeydan commented on #195
This task should be tracked by SRO

[2019-09-17 12:26] #195 closed

[2019-09-17 12:27] trickeydan commented on #160
No equipment has been marked as lost.

[2019-09-17 12:27] #160 closed

[2019-09-17 12:35] trickeydan commented on #162
I have deleted as much as we can for now. We need to keep contact details for remuneration

[2019-09-23 13:20] trickeydan commented on #159
This happened

[2019-09-23 13:20] #159 closed

[2019-09-23 13:21] trickeydan commented on #194
This is unlikely to happen now.

[2019-09-23 13:21] trickeydan commented on #202
This is unlikely to happen if it hasn't happened already

[2019-09-23 13:26] JennyLouise commented on #188
@tshoang, is there any update on this?

[2019-09-23 13:31] trickeydan commented on #4
The scope of this for SourceBots has been sorted.

[2019-09-23 13:31] #4 closed

[2019-09-23 13:32] trickeydan commented on #39
Did not happen. We also cannot use a skycam again without Tyler as we don't have the software it was running

[2019-09-23 13:32] #39 closed

[2019-09-23 18:00] trickeydan commented on #201
Done

[2019-09-23 18:00] #201 closed

[2019-09-23 18:02] trickeydan opened #205 "[SP2020]Test New Motor Boards"
Needs to be done in labs

[2019-09-23 18:03] trickeydan opened #206 "[SP2020]Flash firmware on new motor boards"
Requires a USB Serial Cable

EEPROMS have been programmed

[2019-09-23 18:03] trickeydan opened #207 "Make cases for new motor boards"
This should include repairs to existing boards too.

A few space should ideally be made

[2019-09-23 18:04] trickeydan opened #208 "Put new motor boards in cases"
Requires #207

[2019-09-23 18:04] trickeydan commented on #5
~17~ 16 motor boards have been received.

New Issues: #205 #206 #207 #208

[2019-09-23 18:16] kierdavis commented on #206
This shouldn't need a serial cable. See github.com/sourcebots/tools

On Mon, 23 Sep 2019, 19:03 Dan Trickey, <notifications@github.com> wrote:

[2019-09-23 18:21] kierdavis commented on #5
Uhhh, 99% sure we ordered 16 motor boards

https://drive.google.com/file/d/1qTpOzz7vgAyTHtFtUROAdJadeXhEfRJ_/view?usp=sharing

[2019-09-23 18:35] jcwilliamson commented on #5
Dan says that you are correct, there were 16 boards.

[2019-09-23 18:47] trickeydan opened #209 "Add connectors to Power Boards"

[2019-09-23 18:47] trickeydan opened #210 "[SP2020]Flash Power Board"
Including Serial Number

[2019-09-23 18:48] trickeydan opened #211 "[SP2020]Test new Power Boards"

[2019-09-23 18:48] trickeydan opened #212 "Make cases for new power boards"

[2019-09-23 18:48] trickeydan opened #213 "Fit cases for new power boards"

[2019-09-23 18:48] trickeydan commented on #5
17 Power Boards have been received

#209 #210 #211 #212 #213

[2019-09-24 20:11] kierdavis commented on #210
https://github.com/roboticsoutreach/tools#flashing-a-v4-power-board

[2019-09-24 20:27] kierdavis commented on #209
There's quite a bit more to it than purely the press-fit connectors.

Each power board requires:

* a piezo buzzer (Mouser 81-PKM13EPYH4000-A0) if it doesn't have one already - Beta were unclear on whether they were actually going to mount it or not because it prevents access to the components beneath it
* three press-fit connectors (Farnell 1821273) for mounting the fuse and captive cables
* thre